---
http_interactions:
- request:
    method: post
    uri: https://apps.fortnox.se/oauth-v1/token
    body:
      encoding: UTF-8
      string: grant_type=refresh_token&refresh_token=<REFRESH_TOKEN>
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      Authorization:
      - "<AUTHORIZATION>"
  response:
    status:
      code: 401
      message: Unauthorized
    headers:
      Content-Type:
      - text/plain;charset=UTF-8
      X-Uid:
      - d8176676
    body:
      encoding: UTF-8
      string: '{"error":"invalid_client","error_description":"The client credentials
        are invalid"}'
  recorded_at: Wed, 01 Feb 2023 09:25:13 GMT
recorded_with: VCR 6.1.0
