---
http_interactions:
- request:
    method: post
    uri: https://apps.fortnox.se/oauth-v1/token
    body:
      encoding: US-ASCII
      string: grant_type=client_credentials
    headers:
      Authorization:
      - "<AUTHORIZATION>"
      Content-Type:
      - application/x-www-form-urlencoded
      Tenantid:
      - "<TENANT_ID>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Uid:
      - f5560448
    body:
      encoding: ASCII-8BIT
      string: '{"access_token":"<ACCESS_TOKEN>","expires_in":3600,"token_type":"bearer","scope":"article
        customer invoice order project settings"}'
  recorded_at: Wed, 29 Apr 2026 08:49:42 GMT
recorded_with: VCR 6.4.0
