---
http_interactions:
- request:
    method: post
    uri: https://apps.fortnox.se/oauth-v1/token
    body:
      encoding: UTF-8
      string: grant_type=refresh_token&refresh_token=<REFRESH_TOKEN>
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      Authorization:
      - "<AUTHORIZATION>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Uid:
      - 75a0b722
    body:
      encoding: ASCII-8BIT
      string: '{"access_token":"<ACCESS_TOKEN>","expires_in":3600,"token_type":"bearer","scope":"article
        invoice settings customer order project","refresh_token":"<REFRESH_TOKEN>"}'
  recorded_at: Tue, 31 Jan 2023 08:42:57 GMT
recorded_with: VCR 6.1.0
