---
http_interactions:
- request:
    method: get
    uri: https://api.fortnox.se/3/projects/5592
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Client-Secret:
      - 9aBA8ZgsvR
      Access-Token:
      - ccaef817-d5d8-4b1c-a316-54f3e55c5c54
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Rack-Responsetime:
      - '20'
      X-Uid:
      - 0455e58c
      X-Build:
      - e930a91c78
    body:
      encoding: UTF-8
      string: '{"Project":{"@url":"https:\/\/api.fortnox.se\/3\/projects\/5592","Comments":"A
        value","ContactPerson":null,"Description":"Some important project","EndDate":null,"ProjectLeader":null,"ProjectNumber":"5592","Status":"ONGOING","StartDate":null}}'
  recorded_at: Wed, 29 May 2019 06:11:47 GMT
recorded_with: VCR 4.0.0
