---
http_interactions:
- request:
    method: post
    uri: https://api.fortnox.se/3/projects/
    body:
      encoding: UTF-8
      string: '{"Project":{"Comments":"A value","Description":"Some important project"}}'
    headers:
      Content-Type:
      - application/json
      Client-Secret:
      - 9aBA8ZgsvR
      Access-Token:
      - ccaef817-d5d8-4b1c-a316-54f3e55c5c54
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json
      Location:
      - project
      X-Rack-Responsetime:
      - '52'
      X-Uid:
      - 74722d38
      X-Build:
      - 401ff9d5e0
    body:
      encoding: UTF-8
      string: '{"Project":{"@url":"https:\/\/api.fortnox.se\/3\/projects\/5570","Comments":"A
        value","ContactPerson":null,"Description":"Some important project","EndDate":null,"ProjectLeader":null,"ProjectNumber":"5570","Status":"ONGOING","StartDate":null}}'
  recorded_at: Wed, 12 Jul 2017 19:12:49 GMT
recorded_with: VCR 3.0.3
