---
http_interactions:
- request:
    method: post
    uri: https://api.fortnox.se/3/projects/
    body:
      encoding: UTF-8
      string: '{"Project":{"Comments":"A value","Description":"Some important project"}}'
    headers:
      Content-Type:
      - application/json
      Client-Secret:
      - 9aBA8ZgsvR
      Access-Token:
      - ccaef817-d5d8-4b1c-a316-54f3e55c5c54
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json
      Location:
      - project
      X-Rack-Responsetime:
      - '247'
      X-Uid:
      - 45d9ef86
      X-Build:
      - d59e2acefa
    body:
      encoding: UTF-8
      string: '{"Project":{"@url":"https:\/\/api.fortnox.se\/3\/projects\/5595","Comments":"A
        value","ContactPerson":null,"Description":"Some important project","EndDate":null,"ProjectLeader":null,"ProjectNumber":"5595","Status":"ONGOING","StartDate":null}}'
  recorded_at: Mon, 21 Dec 2020 20:34:22 GMT
recorded_with: VCR 4.0.0
