---
http_interactions:
- request:
    method: post
    uri: https://api.fortnox.se/3/projects/
    body:
      encoding: UTF-8
      string: '{"Project":{"Comments":"A value","Description":"Some important project"}}'
    headers:
      Content-Type:
      - application/json
      Client-Secret:
      - 9aBA8ZgsvR
      Access-Token:
      - ccaef817-d5d8-4b1c-a316-54f3e55c5c54
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json
      Location:
      - project
      X-Build:
      - 9dd4e26746
      X-Rack-Responsetime:
      - '89'
      X-Uid:
      - 2f79bfeb
    body:
      encoding: UTF-8
      string: '{"Project":{"@url":"https:\/\/api.fortnox.se\/3\/projects\/5600","Comments":"A
        value","ContactPerson":null,"Description":"Some important project","EndDate":null,"ProjectLeader":null,"ProjectNumber":"5600","Status":"ONGOING","StartDate":null}}'
  recorded_at: Mon, 22 Jan 2024 14:57:30 GMT
recorded_with: VCR 6.2.0
