---
http_interactions:
- request:
    method: post
    uri: https://api.fortnox.se/3/projects/
    body:
      encoding: UTF-8
      string: '{"Project":{"Comments":"A value","Description":"Some important project"}}'
    headers:
      Content-Type:
      - application/json
      Client-Secret:
      - 9aBA8ZgsvR
      Access-Token:
      - ccaef817-d5d8-4b1c-a316-54f3e55c5c54
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json
      Location:
      - project
      X-Rack-Responsetime:
      - '32'
      X-Uid:
      - 6a3072ef
      X-Build:
      - e930a91c78
    body:
      encoding: UTF-8
      string: '{"Project":{"@url":"https:\/\/api.fortnox.se\/3\/projects\/5592","Comments":"A
        value","ContactPerson":null,"Description":"Some important project","EndDate":null,"ProjectLeader":null,"ProjectNumber":"5592","Status":"ONGOING","StartDate":null}}'
  recorded_at: Wed, 29 May 2019 06:11:47 GMT
recorded_with: VCR 4.0.0
