---
http_interactions:
- request:
    method: post
    uri: https://api.fortnox.se/3/projects
    body:
      encoding: UTF-8
      string: '{"Project":{"Comments":"Fully populated comments","ContactPerson":"Bilbo
        Baggins","Description":"A fully populated project","EndDate":"2026-12-31","ProjectLeader":"Frodo
        Baggins","ProjectNumber":"901","Status":"NOTSTARTED","StartDate":"2026-01-01"}}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - "<AUTHORIZATION>"
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json
      Location:
      - project
      X-Build:
      - b653d4094e
      X-Krakend:
      - Version 2.13.3
      X-Krakend-Completed:
      - 'false'
      X-Rack-Responsetime:
      - '270'
      X-Uid:
      - e9db56a4
    body:
      encoding: UTF-8
      string: '{"Project":{"@url":"https:\/\/api.fortnox.se\/3\/projects\/901","Comments":"Fully
        populated comments","ContactPerson":"Bilbo Baggins","Description":"A fully
        populated project","EndDate":"2026-12-31","ProjectLeader":"Frodo Baggins","ProjectNumber":"901","Status":"NOTSTARTED","StartDate":"2026-01-01"}}'
  recorded_at: Fri, 08 May 2026 10:09:02 GMT
recorded_with: VCR 6.4.0
