---
http_interactions:
- request:
    method: put
    uri: https://api.fortnox.se/3/projects/5593
    body:
      encoding: UTF-8
      string: '{"Project":{"Comments":"Updated comments"}}'
    headers:
      Content-Type:
      - application/json
      Client-Secret:
      - 9aBA8ZgsvR
      Access-Token:
      - ccaef817-d5d8-4b1c-a316-54f3e55c5c54
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Rack-Responsetime:
      - '21'
      X-Uid:
      - f3959565
      X-Build:
      - e930a91c78
    body:
      encoding: UTF-8
      string: '{"Project":{"@url":"https:\/\/api.fortnox.se\/3\/projects\/5593","Comments":"Updated
        comments","ContactPerson":null,"Description":"Some important project","EndDate":null,"ProjectLeader":null,"ProjectNumber":"5593","Status":"ONGOING","StartDate":null}}'
  recorded_at: Wed, 29 May 2019 07:52:31 GMT
recorded_with: VCR 4.0.0
