---
http_interactions:
- request:
    method: get
    uri: https://api.fortnox.se/3/projects/?limit=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - "<AUTHORIZATION>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Build:
      - 16d854443d
      X-Rack-Responsetime:
      - '53'
      X-Uid:
      - d7ed5c18
    body:
      encoding: ASCII-8BIT
      string: '{"MetaInformation":{"@TotalResources":1,"@TotalPages":1,"@CurrentPage":1},"Projects":[{"@url":"https:\/\/api.fortnox.se\/3\/projects\/1","Description":"Some
        important project","EndDate":null,"ProjectLeader":null,"ProjectNumber":"1","Status":"ONGOING","StartDate":null}]}'
  recorded_at: Fri, 27 Jan 2023 18:21:46 GMT
recorded_with: VCR 6.1.0
