---
http_interactions:
- request:
    method: get
    uri: https://api.fortnox.se/3/projects/?limit=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Client-Secret:
      - 9aBA8ZgsvR
      Access-Token:
      - ccaef817-d5d8-4b1c-a316-54f3e55c5c54
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Rack-Responsetime:
      - '18'
      X-Uid:
      - b9a72868
      X-Build:
      - e930a91c78
    body:
      encoding: UTF-8
      string: '{"MetaInformation":{"@TotalResources":31,"@TotalPages":31,"@CurrentPage":1},"Projects":[{"@url":"https:\/\/api.fortnox.se\/3\/projects\/1","Description":"Test
        project","EndDate":null,"ProjectNumber":"1","Status":"ONGOING","StartDate":"2016-05-02"}]}'
  recorded_at: Wed, 29 May 2019 07:52:32 GMT
recorded_with: VCR 4.0.0
