---
http_interactions:
- request:
    method: get
    uri: https://api.fortnox.se/3/projects/?limit=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Client-Secret:
      - 9aBA8ZgsvR
      Access-Token:
      - ccaef817-d5d8-4b1c-a316-54f3e55c5c54
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Rack-Responsetime:
      - '14'
      X-Uid:
      - 34bced72
      X-Build:
      - d59e2acefa
    body:
      encoding: ASCII-8BIT
      string: '{"MetaInformation":{"@TotalResources":33,"@TotalPages":33,"@CurrentPage":1},"Projects":[{"@url":"https:\/\/api.fortnox.se\/3\/projects\/1","Description":"Test
        project","EndDate":null,"ProjectLeader":null,"ProjectNumber":"1","Status":"ONGOING","StartDate":"2016-05-02"}]}'
  recorded_at: Mon, 21 Dec 2020 20:34:23 GMT
recorded_with: VCR 4.0.0
