---
http_interactions:
- request:
    method: get
    uri: https://api.fortnox.se/3/projects/?limit=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Client-Secret:
      - 9aBA8ZgsvR
      Access-Token:
      - ccaef817-d5d8-4b1c-a316-54f3e55c5c54
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Build:
      - 9dd4e26746
      X-Rack-Responsetime:
      - '40'
      X-Uid:
      - 776e7685
    body:
      encoding: ASCII-8BIT
      string: '{"MetaInformation":{"@TotalResources":37,"@TotalPages":37,"@CurrentPage":1},"Projects":[{"@url":"https:\/\/api.fortnox.se\/3\/projects\/1","Description":"Test
        project","EndDate":null,"ProjectLeader":null,"ProjectNumber":"1","Status":"ONGOING","StartDate":"2016-05-02"}]}'
  recorded_at: Mon, 22 Jan 2024 14:52:58 GMT
recorded_with: VCR 6.2.0
