---
http_interactions:
- request:
    method: post
    uri: https://api.fortnox.se/3/articles/
    body:
      encoding: UTF-8
      string: "<REFRESH_TOKEN>"
    headers:
      Content-Type:
      - application/json
      Authorization:
      - "<AUTHORIZATION>"
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json
      Location:
      - articles
      X-Build:
      - f42866f6f7
      X-Rack-Responsetime:
      - '243'
      X-Uid:
      - bf157652
    body:
      encoding: UTF-8
      string: '{"Article":{"@url":"https:\/\/api.fortnox.se\/3\/articles\/109","ArticleNumber":"109","Bulky":false,"ConstructionAccount":0,"Depth":0,"Description":"Test
        article","DisposableQuantity":1.12,"EAN":"","EUAccount":3108,"EUVATAccount":3106,"ExportAccount":3105,"Height":0,"Housework":false,"HouseworkType":null,"Active":true,"Manufacturer":null,"ManufacturerArticleNumber":"","Note":"","PurchaseAccount":4000,"PurchasePrice":0,"QuantityInStock":1.12,"ReservedQuantity":0,"SalesAccount":3001,"StockGoods":false,"StockPlace":null,"StockValue":0,"StockWarning":null,"SupplierName":null,"SupplierNumber":null,"Type":"STOCK","Unit":null,"VAT":25,"WebshopArticle":false,"Weight":0,"Width":0,"Expired":false,"SalesPrice":null,"CostCalculationMethod":null,"StockAccount":null,"StockChangeAccount":null,"DirectCost":null,"FreightCost":null,"OtherCost":null,"DefaultStockPoint":null,"DefaultStockLocation":null,"CommodityCode":""}}'
  recorded_at: Mon, 02 Dec 2024 10:09:16 GMT
recorded_with: VCR 6.2.0
