---
http_interactions:
- request:
    method: get
    uri: https://api.fortnox.se/3/termsofpayments/
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Client-Secret:
      - 9aBA8ZgsvR
      Access-Token:
      - ccaef817-d5d8-4b1c-a316-54f3e55c5c54
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Rack-Responsetime:
      - '30'
      X-Uid:
      - 7c2b1a69
      X-Build:
      - d59e2acefa
    body:
      encoding: ASCII-8BIT
      string: '{"MetaInformation":{"@TotalResources":13,"@TotalPages":1,"@CurrentPage":1},"TermsOfPayments":[{"@url":"https:\/\/api.fortnox.se\/3\/termsofpayments\/0","Code":"0","Description":"0
        dagar"},{"@url":"https:\/\/api.fortnox.se\/3\/termsofpayments\/10","Code":"10","Description":"10
        dagar"},{"@url":"https:\/\/api.fortnox.se\/3\/termsofpayments\/15","Code":"15","Description":"15
        dagar"},{"@url":"https:\/\/api.fortnox.se\/3\/termsofpayments\/20","Code":"20","Description":"20
        dagar"},{"@url":"https:\/\/api.fortnox.se\/3\/termsofpayments\/30","Code":"30","Description":"30
        dagar"},{"@url":"https:\/\/api.fortnox.se\/3\/termsofpayments\/K","Code":"K","Description":"Kontant"},{"@url":"https:\/\/api.fortnox.se\/3\/termsofpayments\/PF","Code":"PF","Description":"Postf\u00f6rskott"},{"@url":"https:\/\/api.fortnox.se\/3\/termsofpayments\/AG","Code":"AG","Description":"Autogiro"},{"@url":"https:\/\/api.fortnox.se\/3\/termsofpayments\/18DAYS","Code":"18DAYS","Description":"Updated
        description"},{"@url":"https:\/\/api.fortnox.se\/3\/termsofpayments\/30DAYS","Code":"30DAYS","Description":"Updated
        description"},{"@url":"https:\/\/api.fortnox.se\/3\/termsofpayments\/15DAYS","Code":"15DAYS","Description":"Updated
        description"},{"@url":"https:\/\/api.fortnox.se\/3\/termsofpayments\/17DAYS","Code":"17DAYS","Description":"Updated
        description"},{"@url":"https:\/\/api.fortnox.se\/3\/termsofpayments\/16DAYS","Code":"16DAYS","Description":"Updated
        description"}]}'
  recorded_at: Mon, 21 Dec 2020 20:34:22 GMT
recorded_with: VCR 4.0.0
