---
http_interactions:
- request:
    method: get
    uri: https://api.fortnox.se/3/termsofpayments/
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - "<AUTHORIZATION>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Build:
      - 380d444b08
      X-Rack-Responsetime:
      - '130'
      X-Uid:
      - ccb25f03
    body:
      encoding: ASCII-8BIT
      string: '{"MetaInformation":{"@TotalResources":9,"@TotalPages":1,"@CurrentPage":1},"TermsOfPayments":[{"@url":"https:\/\/api.fortnox.se\/3\/termsofpayments\/0","Code":"0","Description":"0
        dagar"},{"@url":"https:\/\/api.fortnox.se\/3\/termsofpayments\/10","Code":"10","Description":"10
        dagar"},{"@url":"https:\/\/api.fortnox.se\/3\/termsofpayments\/15","Code":"15","Description":"15
        dagar"},{"@url":"https:\/\/api.fortnox.se\/3\/termsofpayments\/19DAYS","Code":"19DAYS","Description":"Updated
        description"},{"@url":"https:\/\/api.fortnox.se\/3\/termsofpayments\/20","Code":"20","Description":"20
        dagar"},{"@url":"https:\/\/api.fortnox.se\/3\/termsofpayments\/30","Code":"30","Description":"30
        dagar"},{"@url":"https:\/\/api.fortnox.se\/3\/termsofpayments\/AG","Code":"AG","Description":"Autogiro"},{"@url":"https:\/\/api.fortnox.se\/3\/termsofpayments\/K","Code":"K","Description":"Kontant"},{"@url":"https:\/\/api.fortnox.se\/3\/termsofpayments\/PF","Code":"PF","Description":"Postf\u00f6rskott"}]}'
  recorded_at: Thu, 02 Jun 2022 11:50:10 GMT
recorded_with: VCR 4.0.0
