---
http_interactions:
- request:
    method: get
    uri: https://api.fortnox.se/3/termsofpayments/123456789
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Client-Secret:
      - 9aBA8ZgsvR
      Access-Token:
      - ccaef817-d5d8-4b1c-a316-54f3e55c5c54
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json
      X-Build:
      - 9dd4e26746
      X-Rack-Responsetime:
      - '63'
      X-Uid:
      - 61569c90
    body:
      encoding: ASCII-8BIT
      string: '{"ErrorInformation":{"Error":1,"Message":"Kan inte hitta betalningsvillkoret.","Code":2000429}}'
  recorded_at: Mon, 22 Jan 2024 14:57:49 GMT
recorded_with: VCR 6.2.0
