---
http_interactions:
- request:
    method: get
    uri: https://api.fortnox.se/3/termsofpayments/123456789
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Client-Secret:
      - 9aBA8ZgsvR
      Access-Token:
      - ccaef817-d5d8-4b1c-a316-54f3e55c5c54
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json
      X-Rack-Responsetime:
      - '11'
      X-Uid:
      - 0d0076fc
      X-Build:
      - bec4a33b2e
    body:
      encoding: UTF-8
      string: '{"ErrorInformation":{"Error":1,"Message":"Kan inte hitta betalningsvillkoret.","Code":2000429}}'
  recorded_at: Sat, 24 Feb 2018 06:45:43 GMT
recorded_with: VCR 3.0.3
