---
http_interactions:
- request:
    method: get
    uri: https://api.fortnox.se/3/termsofpayments/21DAYS
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - "<AUTHORIZATION>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Build:
      - 380d444b08
      X-Rack-Responsetime:
      - '57'
      X-Uid:
      - 149059f3
    body:
      encoding: ASCII-8BIT
      string: '{"TermsOfPayment":{"@url":"https:\/\/api.fortnox.se\/3\/termsofpayments\/21DAYS","Code":"21DAYS","Description":"A
        value"}}'
  recorded_at: Thu, 02 Jun 2022 19:56:41 GMT
recorded_with: VCR 4.0.0
