---
http_interactions:
- request:
    method: get
    uri: https://api.fortnox.se/3/termsofpayments/123456789
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - "<AUTHORIZATION>"
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json
      X-Build:
      - 16d854443d
      X-Rack-Responsetime:
      - '53'
      X-Uid:
      - bcbd97c4
    body:
      encoding: ASCII-8BIT
      string: '{"ErrorInformation":{"Error":1,"Message":"Kan inte hitta betalningsvillkoret.","Code":2000429}}'
  recorded_at: Fri, 27 Jan 2023 18:20:20 GMT
recorded_with: VCR 6.1.0
