---
http_interactions:
- request:
    method: post
    uri: https://api.fortnox.se/3/termsofpayments
    body:
      encoding: UTF-8
      string: '{"TermsOfPayment":{"Code":"24DAYS","Description":"A value"}}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - "<AUTHORIZATION>"
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json
      Location:
      - paymentterms
      X-Build:
      - 58ce5df7dc
      X-Krakend:
      - Version 2.13.3
      X-Krakend-Completed:
      - 'false'
      X-Rack-Responsetime:
      - '195'
      X-Uid:
      - 3622d0ce
    body:
      encoding: UTF-8
      string: '{"TermsOfPayment":{"@url":"https:\/\/api.fortnox.se\/3\/termsofpayments\/24DAYS","Code":"24DAYS","Description":"A
        value"}}'
  recorded_at: Fri, 24 Apr 2026 12:21:14 GMT
recorded_with: VCR 6.4.0
