---
http_interactions:
- request:
    method: put
    uri: https://api.fortnox.se/3/termsofpayments/21DAYS
    body:
      encoding: UTF-8
      string: '{"TermsOfPayment":{"Description":"Updated description"}}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - "<AUTHORIZATION>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Build:
      - 16d854443d
      X-Rack-Responsetime:
      - '76'
      X-Uid:
      - 87aaa5f1
    body:
      encoding: ASCII-8BIT
      string: '{"TermsOfPayment":{"@url":"https:\/\/api.fortnox.se\/3\/termsofpayments\/21DAYS","Code":"21DAYS","Description":"Updated
        description"}}'
  recorded_at: Fri, 27 Jan 2023 18:17:16 GMT
recorded_with: VCR 6.1.0
