---
http_interactions:
- request:
    method: get
    uri: https://api.fortnox.se/3/labels
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - "<AUTHORIZATION>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Build:
      - 58ce5df7dc
      X-Krakend:
      - Version 2.13.3
      X-Krakend-Completed:
      - 'false'
      X-Rack-Responsetime:
      - '115'
      X-Uid:
      - '01566468'
    body:
      encoding: UTF-8
      string: '{"Labels":[{"Id":2,"Description":"LabelSpec2"},{"Id":3,"Description":"LabelSpec2"},{"Id":4,"Description":"LabelSpec4"},{"Id":5,"Description":"LabelSpec6"},{"Id":6,"Description":"LabelSpec6"},{"Id":1,"Description":"TestLabel"}]}'
  recorded_at: Fri, 24 Apr 2026 12:20:42 GMT
recorded_with: VCR 6.4.0
