---
http_interactions:
- request:
    method: get
    uri: https://api.fortnox.se/3/articles/123456789
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - "<AUTHORIZATION>"
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json
      X-Build:
      - 380d444b08
      X-Rack-Responsetime:
      - '90'
      X-Uid:
      - 6d456846
    body:
      encoding: ASCII-8BIT
      string: '{"ErrorInformation":{"Error":1,"Message":"Kan inte hitta artikeln.","Code":2000428}}'
  recorded_at: Thu, 02 Jun 2022 15:54:03 GMT
recorded_with: VCR 4.0.0
