---
http_interactions:
- request:
    method: get
    uri: https://api.fortnox.se/3/articles/123456789
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Client-Secret:
      - 9aBA8ZgsvR
      Access-Token:
      - ccaef817-d5d8-4b1c-a316-54f3e55c5c54
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json
      X-Rack-Responsetime:
      - '20'
      X-Uid:
      - 9d7a18ed
      X-Build:
      - e1392b4cf7
    body:
      encoding: UTF-8
      string: '{"ErrorInformation":{"Error":1,"Message":"Kan inte hitta artikeln.","Code":2000428}}'
  recorded_at: Sun, 08 Oct 2017 21:51:44 GMT
recorded_with: VCR 3.0.3
