---
http_interactions:
- request:
    method: get
    uri: https://api.fortnox.se/3/articles/?articlenumber=101&description=Hammer
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - "<AUTHORIZATION>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Build:
      - 16d854443d
      X-Rack-Responsetime:
      - '82'
      X-Uid:
      - 4fbbe90e
    body:
      encoding: ASCII-8BIT
      string: '{"MetaInformation":{"@TotalResources":1,"@TotalPages":1,"@CurrentPage":1},"Articles":[{"@url":"https:\/\/api.fortnox.se\/3\/articles\/101","ArticleNumber":"101","Description":"Hammer","DisposableQuantity":"0","EAN":"","Housework":false,"PurchasePrice":"0","SalesPrice":null,"QuantityInStock":"0","ReservedQuantity":"0","StockPlace":"","StockValue":"0","Unit":null,"VAT":null,"WebshopArticle":false}]}'
  recorded_at: Mon, 30 Jan 2023 10:35:05 GMT
recorded_with: VCR 6.1.0
