---
http_interactions:
- request:
    method: post
    uri: https://api.fortnox.se/3/articles/
    body:
      encoding: UTF-8
      string: '{"Article":{"Description":"A value","SalesAccount":1250}}'
    headers:
      Content-Type:
      - application/json
      Client-Secret:
      - 9aBA8ZgsvR
      Access-Token:
      - ccaef817-d5d8-4b1c-a316-54f3e55c5c54
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json
      Location:
      - articles
      X-Rack-Responsetime:
      - '52'
      X-Uid:
      - a37e054e
      X-Build:
      - 5228d322dc
    body:
      encoding: UTF-8
      string: '{"Article":{"@url":"https:\/\/api.fortnox.se\/3\/articles\/18","ArticleNumber":"18","Bulky":false,"ConstructionAccount":0,"Depth":0,"Description":"A
        value","DisposableQuantity":0,"EAN":"","EUAccount":3200,"EUVATAccount":3231,"ExportAccount":3200,"Height":0,"Housework":false,"HouseworkType":null,"Active":true,"Manufacturer":null,"ManufacturerArticleNumber":"","Note":"","PurchaseAccount":3100,"PurchasePrice":0,"QuantityInStock":0,"ReservedQuantity":0,"SalesAccount":1250,"StockGoods":false,"StockPlace":null,"StockValue":0,"StockWarning":0,"SupplierName":null,"SupplierNumber":null,"Type":"STOCK","Unit":null,"VAT":0,"WebshopArticle":false,"Weight":0,"Width":0,"Expired":false,"SalesPrice":null,"CostCalculationMethod":null,"StockAccount":null,"StockChangeAccount":null,"DirectCost":0,"FreightCost":0,"OtherCost":0}}'
  recorded_at: Mon, 09 Oct 2017 19:45:43 GMT
recorded_with: VCR 3.0.3
