---
http_interactions:
- request:
    method: put
    uri: https://api.fortnox.se/3/articles/26
    body:
      encoding: UTF-8
      string: '{"Article":{"Description":"Updated description"}}'
    headers:
      Content-Type:
      - application/json
      Client-Secret:
      - 9aBA8ZgsvR
      Access-Token:
      - ccaef817-d5d8-4b1c-a316-54f3e55c5c54
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Rack-Responsetime:
      - '258'
      X-Uid:
      - 8245f02b
      X-Build:
      - d59e2acefa
    body:
      encoding: ASCII-8BIT
      string: '{"Article":{"@url":"https:\/\/api.fortnox.se\/3\/articles\/26","ArticleNumber":"26","Bulky":false,"ConstructionAccount":0,"Depth":0,"Description":"Updated
        description","DisposableQuantity":0,"EAN":"","EUAccount":3200,"EUVATAccount":3231,"ExportAccount":3200,"Height":0,"Housework":false,"HouseworkType":null,"Active":true,"Manufacturer":null,"ManufacturerArticleNumber":"","Note":"","PurchaseAccount":3100,"PurchasePrice":0,"QuantityInStock":0,"ReservedQuantity":0,"SalesAccount":1250,"StockGoods":false,"StockPlace":null,"StockValue":0,"StockWarning":0,"SupplierName":null,"SupplierNumber":null,"Type":"STOCK","Unit":null,"VAT":0,"WebshopArticle":false,"Weight":0,"Width":0,"Expired":false,"SalesPrice":null,"CostCalculationMethod":null,"StockAccount":null,"StockChangeAccount":null,"DirectCost":null,"FreightCost":null,"OtherCost":null,"DefaultStockPoint":null,"DefaultStockLocation":null}}'
  recorded_at: Mon, 21 Dec 2020 20:40:03 GMT
recorded_with: VCR 4.0.0
