---
http_interactions:
- request:
    method: get
    uri: https://api.fortnox.se/3/articles?description=Test%20article
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - "<AUTHORIZATION>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Build:
      - 58ce5df7dc
      X-Krakend:
      - Version 2.13.3
      X-Krakend-Completed:
      - 'false'
      X-Rack-Responsetime:
      - '489'
      X-Uid:
      - 34781d6b
    body:
      encoding: UTF-8
      string: '{"MetaInformation":{"@TotalResources":9,"@TotalPages":1,"@CurrentPage":1},"Articles":[{"@url":"https:\/\/api.fortnox.se\/3\/articles\/103","ArticleNumber":"103","Description":"Test
        article","DisposableQuantity":"0","EAN":"","Housework":false,"PurchasePrice":"0","SalesPrice":null,"QuantityInStock":"0","ReservedQuantity":"0","StockPlace":null,"StockValue":"0","Unit":"","VAT":"25","WebshopArticle":false},{"@url":"https:\/\/api.fortnox.se\/3\/articles\/104","ArticleNumber":"104","Description":"Test
        article","DisposableQuantity":"0","EAN":"","Housework":false,"PurchasePrice":"0","SalesPrice":null,"QuantityInStock":"0","ReservedQuantity":"0","StockPlace":null,"StockValue":"0","Unit":"","VAT":"25","WebshopArticle":false},{"@url":"https:\/\/api.fortnox.se\/3\/articles\/106","ArticleNumber":"106","Description":"Test
        article","DisposableQuantity":"0","EAN":"5901234123457","Housew[...]
