---
http_interactions:
- request:
    method: get
    uri: https://api.fortnox.se/3/units/
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - "<AUTHORIZATION>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Build:
      - 5a7c4f364e
      X-Rack-Responsetime:
      - '71'
      X-Uid:
      - '0930270d'
    body:
      encoding: ASCII-8BIT
      string: '{"MetaInformation":{"@TotalResources":5,"@TotalPages":1,"@CurrentPage":1},"Units":[{"@url":"https:\/\/api.fortnox.se\/3\/units\/f%C3%B6rp","Code":"f\u00f6rp","CodeEnglish":"pack","Description":"f\u00f6rpackning"},{"@url":"https:\/\/api.fortnox.se\/3\/units\/h","Code":"h","CodeEnglish":"h","Description":"timmar"},{"@url":"https:\/\/api.fortnox.se\/3\/units\/km","Code":"km","CodeEnglish":"km","Description":"Kilometer"},{"@url":"https:\/\/api.fortnox.se\/3\/units\/st","Code":"st","CodeEnglish":"pcs","Description":"styck"},{"@url":"https:\/\/api.fortnox.se\/3\/units\/utl","Code":"utl","CodeEnglish":"exp","Description":"Utl\u00e4gg"}]}'
  recorded_at: Fri, 27 Jan 2023 10:53:51 GMT
recorded_with: VCR 6.1.0
