---
http_interactions:
- request:
    method: get
    uri: https://api.fortnox.se/3/units/
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - "<AUTHORIZATION>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Build:
      - 16d854443d
      X-Rack-Responsetime:
      - '66'
      X-Uid:
      - a00aa8cb
    body:
      encoding: ASCII-8BIT
      string: '{"MetaInformation":{"@TotalResources":7,"@TotalPages":1,"@CurrentPage":1},"Units":[{"@url":"https:\/\/api.fortnox.se\/3\/units\/blarg7","Code":"blarg7","CodeEnglish":"","Description":"Updated
        description"},{"@url":"https:\/\/api.fortnox.se\/3\/units\/f%C3%B6rp","Code":"f\u00f6rp","CodeEnglish":"pack","Description":"f\u00f6rpackning"},{"@url":"https:\/\/api.fortnox.se\/3\/units\/h","Code":"h","CodeEnglish":"h","Description":"timmar"},{"@url":"https:\/\/api.fortnox.se\/3\/units\/km","Code":"km","CodeEnglish":"km","Description":"Kilometer"},{"@url":"https:\/\/api.fortnox.se\/3\/units\/st","Code":"st","CodeEnglish":"pcs","Description":"styck"},{"@url":"https:\/\/api.fortnox.se\/3\/units\/utl","Code":"utl","CodeEnglish":"exp","Description":"Utl\u00e4gg"},{"@url":"https:\/\/api.fortnox.se\/3\/units\/woooh6","Code":"woooh6","CodeEnglish":"","Description":"Happy
        clouds"}]}'
  recorded_at: Mon, 30 Jan 2023 10:38:52 GMT
recorded_with: VCR 6.1.0
