---
http_interactions:
- request:
    method: get
    uri: https://api.fortnox.se/3/units/
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Client-Secret:
      - 9aBA8ZgsvR
      Access-Token:
      - ccaef817-d5d8-4b1c-a316-54f3e55c5c54
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Build:
      - 9dd4e26746
      X-Rack-Responsetime:
      - '55'
      X-Uid:
      - b619b0b1
    body:
      encoding: ASCII-8BIT
      string: '{"MetaInformation":{"@TotalResources":16,"@TotalPages":1,"@CurrentPage":1},"Units":[{"@url":"https:\/\/api.fortnox.se\/3\/units\/blarg","Code":"blarg","CodeEnglish":"","Description":"Updated
        description"},{"@url":"https:\/\/api.fortnox.se\/3\/units\/blarg2","Code":"blarg2","CodeEnglish":"","Description":"Updated
        description"},{"@url":"https:\/\/api.fortnox.se\/3\/units\/blarg3","Code":"blarg3","CodeEnglish":"","Description":"Updated
        description"},{"@url":"https:\/\/api.fortnox.se\/3\/units\/blarg4","Code":"blarg4","CodeEnglish":"","Description":"Updated
        description"},{"@url":"https:\/\/api.fortnox.se\/3\/units\/blarg5","Code":"blarg5","CodeEn[...]
