---
http_interactions:
- request:
    method: get
    uri: https://api.fortnox.se/3/units
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - "<AUTHORIZATION>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Build:
      - 58ce5df7dc
      X-Krakend:
      - Version 2.13.3
      X-Krakend-Completed:
      - 'false'
      X-Rack-Responsetime:
      - '124'
      X-Uid:
      - af7fab2b
    body:
      encoding: UTF-8
      string: '{"MetaInformation":{"@TotalResources":17,"@TotalPages":1,"@CurrentPage":1},"Units":[{"@url":"https:\/\/api.fortnox.se\/3\/units\/blarg10","Code":"blarg10","CodeEnglish":"","Description":"Updated
        description"},{"@url":"https:\/\/api.fortnox.se\/3\/units\/blarg11","Code":"blarg11","CodeEnglish":"","Description":"Updated
        description"},{"@url":"https:\/\/api.fortnox.se\/3\/units\/blarg12","Code":"blarg12","CodeEnglish":"","Description":"Updated
        description"},{"@url":"https:\/\/api.fortnox.se\/3\/units\/blarg13","Code":"blarg13","CodeEnglish":"","Description":"A
        value"},{"@url":"https:\/\/api.fortnox.se\/3\/units\/blarg20","Code":"blarg20","CodeEnglis[...]
