---
http_interactions:
- request:
    method: get
    uri: https://api.fortnox.se/3/units/123456789
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Client-Secret:
      - 9aBA8ZgsvR
      Access-Token:
      - ccaef817-d5d8-4b1c-a316-54f3e55c5c54
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json
      X-Rack-Responsetime:
      - '16'
      X-Uid:
      - '29709024'
      X-Build:
      - e930a91c78
    body:
      encoding: UTF-8
      string: '{"ErrorInformation":{"Error":1,"Message":"Kan inte hitta enheten.","Code":2000432}}'
  recorded_at: Wed, 29 May 2019 07:52:33 GMT
recorded_with: VCR 4.0.0
