---
http_interactions:
- request:
    method: get
    uri: https://api.fortnox.se/3/units/123456789
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - "<AUTHORIZATION>"
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json
      X-Build:
      - 1fbde2b71a
      X-Krakend:
      - Version 2.13.3
      X-Krakend-Completed:
      - 'false'
      X-Rack-Responsetime:
      - '196'
      X-Uid:
      - 6447f584
    body:
      encoding: UTF-8
      string: '{"ErrorInformation":{"Error":1,"Message":"Kan inte hitta enheten.","Code":2000432}}'
  recorded_at: Wed, 29 Apr 2026 09:00:22 GMT
recorded_with: VCR 6.4.0
