---
http_interactions:
- request:
    method: get
    uri: https://api.fortnox.se/3/units/blarg6
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - "<AUTHORIZATION>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Build:
      - 380d444b08
      X-Rack-Responsetime:
      - '73'
      X-Uid:
      - dbbb2ce6
    body:
      encoding: ASCII-8BIT
      string: '{"Unit":{"@url":"https:\/\/api.fortnox.se\/3\/units\/blarg6","Code":"blarg6","CodeEnglish":"","Description":"Updated
        description"}}'
  recorded_at: Thu, 02 Jun 2022 16:01:23 GMT
recorded_with: VCR 4.0.0
