---
http_interactions:
- request:
    method: get
    uri: https://api.fortnox.se/3/units/123456789
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Client-Secret:
      - 9aBA8ZgsvR
      Access-Token:
      - ccaef817-d5d8-4b1c-a316-54f3e55c5c54
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json
      X-Rack-Responsetime:
      - '14'
      X-Uid:
      - '44868723'
      X-Build:
      - bec4a33b2e
    body:
      encoding: UTF-8
      string: '{"ErrorInformation":{"Error":1,"Message":"Kan inte hitta enheten.","Code":2000432}}'
  recorded_at: Mon, 26 Feb 2018 05:15:25 GMT
recorded_with: VCR 3.0.3
