---
http_interactions:
- request:
    method: get
    uri: https://api.fortnox.se/3/units/blarg7
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - "<AUTHORIZATION>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Build:
      - 5a7c4f364e
      X-Rack-Responsetime:
      - '51'
      X-Uid:
      - 8238b817
    body:
      encoding: ASCII-8BIT
      string: '{"Unit":{"@url":"https:\/\/api.fortnox.se\/3\/units\/blarg7","Code":"blarg7","CodeEnglish":"","Description":"Updated
        description"}}'
  recorded_at: Fri, 27 Jan 2023 11:38:57 GMT
recorded_with: VCR 6.1.0
