---
http_interactions:
- request:
    method: post
    uri: https://api.fortnox.se/3/units
    body:
      encoding: UTF-8
      string: '{"Unit":{"Code":"woooh20","Description":"Happy clouds"}}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - "<AUTHORIZATION>"
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json
      Location:
      - units
      X-Build:
      - 58ce5df7dc
      X-Krakend:
      - Version 2.13.3
      X-Krakend-Completed:
      - 'false'
      X-Rack-Responsetime:
      - '135'
      X-Uid:
      - cb0a5c97
    body:
      encoding: UTF-8
      string: '{"Unit":{"@url":"https:\/\/api.fortnox.se\/3\/units\/woooh20","Code":"woooh20","CodeEnglish":"","Description":"Happy
        clouds"}}'
  recorded_at: Fri, 24 Apr 2026 12:21:07 GMT
recorded_with: VCR 6.4.0
