---
http_interactions:
- request:
    method: post
    uri: https://api.fortnox.se/3/units/
    body:
      encoding: UTF-8
      string: '{"Unit":{"Code":"woooh7","Description":"Happy clouds"}}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - "<AUTHORIZATION>"
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json
      Location:
      - units
      X-Build:
      - 16d854443d
      X-Rack-Responsetime:
      - '96'
      X-Uid:
      - b726c305
    body:
      encoding: UTF-8
      string: '{"Unit":{"@url":"https:\/\/api.fortnox.se\/3\/units\/woooh7","Code":"woooh7","CodeEnglish":"","Description":"Happy
        clouds"}}'
  recorded_at: Mon, 30 Jan 2023 10:39:37 GMT
recorded_with: VCR 6.1.0
