---
http_interactions:
- request:
    method: put
    uri: https://api.fortnox.se/3/units/blarg7
    body:
      encoding: UTF-8
      string: '{"Unit":{"Description":"Updated description"}}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - "<AUTHORIZATION>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Build:
      - 380d444b08
      X-Rack-Responsetime:
      - '61'
      X-Uid:
      - 3548d9d1
    body:
      encoding: ASCII-8BIT
      string: '{"Unit":{"@url":"https:\/\/api.fortnox.se\/3\/units\/blarg7","Code":"blarg7","CodeEnglish":"","Description":"Updated
        description"}}'
  recorded_at: Thu, 02 Jun 2022 20:13:06 GMT
recorded_with: VCR 4.0.0
