---
http_interactions:
- request:
    method: post
    uri: https://api.fortnox.se/3/units/
    body:
      encoding: UTF-8
      string: '{"Unit":{"Code":"blarg7","Description":"A value"}}'
    headers:
      Content-Type:
      - application/json
      Client-Secret:
      - 9aBA8ZgsvR
      Access-Token:
      - ccaef817-d5d8-4b1c-a316-54f3e55c5c54
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json
      Location:
      - units
      X-Build:
      - 9dd4e26746
      X-Rack-Responsetime:
      - '95'
      X-Uid:
      - 977fafdf
    body:
      encoding: UTF-8
      string: '{"Unit":{"@url":"https:\/\/api.fortnox.se\/3\/units\/blarg7","Code":"blarg7","CodeEnglish":"","Description":"A
        value"}}'
  recorded_at: Mon, 22 Jan 2024 14:59:54 GMT
recorded_with: VCR 6.2.0
