---
http_interactions:
- request:
    method: post
    uri: https://api.fortnox.se/3/units/
    body:
      encoding: UTF-8
      string: '{"Unit":{"Code":"blarg8","Description":"A value"}}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - "<AUTHORIZATION>"
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json
      Location:
      - units
      X-Build:
      - 16d854443d
      X-Rack-Responsetime:
      - '142'
      X-Uid:
      - b97d5070
    body:
      encoding: UTF-8
      string: '{"Unit":{"@url":"https:\/\/api.fortnox.se\/3\/units\/blarg8","Code":"blarg8","CodeEnglish":"","Description":"A
        value"}}'
  recorded_at: Mon, 30 Jan 2023 10:39:16 GMT
recorded_with: VCR 6.1.0
