---
http_interactions:
- request:
    method: get
    uri: https://api.fortnox.se/3/invoices/
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - "<AUTHORIZATION>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Build:
      - 8a7b8a73cc
      X-Rack-Responsetime:
      - '165'
      X-Uid:
      - 3688af83
    body:
      encoding: ASCII-8BIT
      string: '{"MetaInformation":{"@TotalResources":34,"@TotalPages":1,"@CurrentPage":1},"Invoices":[{"@url":"https:\/\/api.fortnox.se\/3\/invoices\/1","Balance":0,"Booked":false,"Cancelled":false,"CostCenter":"","Currency":"SEK","CurrencyRate":"1","CurrencyUnit":1,"CustomerName":"Updated
        name","CustomerNumber":"1","DocumentNumber":"1","DueDate":"2023-02-26","ExternalInvoiceReference1":"","ExternalInvoiceReference2":"","InvoiceDate":"2023-01-27","InvoiceType":"INVOICE","NoxFinans":false,"OCR":"133","VoucherNumber":null,"VoucherSeries":null,"VoucherYear":null,"WayOfDelivery":"","TermsOfPayment":"30","Project":"","Sent":false,"Total":0,"FinalPayDate":null},{"@url":"https:\/\/api.fortnox.se\/3\/invoices\/2","Balance":0,"Booked":false,"Cancelled":false,"CostCenter":"","Currency":"SEK","CurrencyRate":"1","CurrencyUnit":1,"CustomerName":"Updated
        name","CustomerNumber":"1","DocumentNumber":"2","DueDate":"2023-02-26","ExternalInvoiceReference1":"","ExternalInvoiceReference2":"","InvoiceDate":"2023-01-27","InvoiceType":"INVOICE","NoxFinans":false,"OCR":"426523791","VoucherNumber":null,"VoucherSeries":null,"VoucherYear":null,"WayOfDelivery":[...]
