---
http_interactions:
- request:
    method: get
    uri: https://api.fortnox.se/3/invoices
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - "<AUTHORIZATION>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Build:
      - 58ce5df7dc
      X-Krakend:
      - Version 2.13.3
      X-Krakend-Completed:
      - 'false'
      X-Rack-Responsetime:
      - '477'
      X-Uid:
      - 87ec5a08
    body:
      encoding: UTF-8
      string: '{"MetaInformation":{"@TotalResources":43,"@TotalPages":1,"@CurrentPage":1},"Invoices":[{"@url":"https:\/\/api.fortnox.se\/3\/invoices\/1","Balance":0,"Booked":false,"Cancelled":false,"CostCenter":"","Currency":"SEK","CurrencyRate":"1","CurrencyUnit":1,"CustomerName":"Customer
        with IDN email","CustomerNumber":"1","DocumentNumber":"1","DueDate":"2026-05-17","ExternalInvoiceReference1":"","ExternalInvoiceReference2":"","InvoiceDate":"2026-04-17","InvoiceType":"INVOICE","NoxFinans":false,"OCR":"133","VoucherNumber":null,"VoucherSeries":null,"VoucherYear":null,"WayOfDelivery":"","TermsOfPayment":"30","Project":"","Sent":false,"Total":0,"FinalPayDate":null},{"@url":"https:\/\/api.fortnox.se\/3\/invoices\/2","Balance":0,"Booked":false,"Cancelled":false,"CostCenter":"","Currency":"SEK","CurrencyRate":"1","CurrencyUnit":1,"CustomerName":"Customer
        with IDN email","CustomerNumber":"1","DocumentNumber":"2","DueDate":"2026-05-17","ExternalInvoiceReference1":"","ExternalInvoiceReference2":"","InvoiceDate":"2026-04-17","InvoiceType":"INVOICE","NoxFinans":false,"OCR":"232","VoucherNumber":null,"VoucherSeries":null,"VoucherYear":null,"WayOfDeliv[...]
