---
http_interactions:
- request:
    method: get
    uri: https://api.fortnox.se/3/invoices/?filter=doesntexist
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - "<AUTHORIZATION>"
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json
      X-Build:
      - 380d444b08
      X-Rack-Responsetime:
      - '143'
      X-Uid:
      - b94efa61
    body:
      encoding: UTF-8
      string: '{"ErrorInformation":{"error":1,"message":"Ett ogiltigt filter har anv\u00e4nts.","code":2000587}}'
  recorded_at: Thu, 02 Jun 2022 18:32:18 GMT
recorded_with: VCR 4.0.0
