---
http_interactions:
- request:
    method: get
    uri: https://api.fortnox.se/3/invoices/?filter=fullypaid
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization-Code:
      - ea3862b0-189c-464b-8e23-1b9702365ea1
      Client-Secret:
      - 9aBA8ZgsvR
      Access-Token:
      - ccaef817-d5d8-4b1c-a316-54f3e55c5c54
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Rack-Responsetime:
      - '56'
      X-Uid:
      - 1b07a8ed
      X-Build:
      - 76600b8d0c
    body:
      encoding: UTF-8
      string: '{"MetaInformation":{"@TotalResources":1,"@TotalPages":1,"@CurrentPage":1},"Invoices":[{"@url":"https:\/\/api.fortnox.se\/3\/invoices\/15","Balance":0,"Booked":true,"Cancelled":false,"Currency":"SEK","CurrencyRate":"1","CurrencyUnit":1,"CustomerName":"Test
        customer","CustomerNumber":"3","DocumentNumber":"15","DueDate":"2016-05-15","ExternalInvoiceReference1":"","ExternalInvoiceReference2":"","InvoiceDate":"2016-05-15","NoxFinans":false,"OCR":"1545","WayOfDelivery":"","TermsOfPayment":"0","Project":"2","Sent":false,"Total":138}]}'
  recorded_at: Thu, 13 Oct 2016 19:19:12 GMT
recorded_with: VCR 3.0.1
