---
http_interactions:
- request:
    method: get
    uri: https://api.fortnox.se/3/invoices/?filter=unpaid
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Client-Secret:
      - 9aBA8ZgsvR
      Access-Token:
      - ccaef817-d5d8-4b1c-a316-54f3e55c5c54
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Rack-Responsetime:
      - '58'
      X-Uid:
      - 8ae604db
      X-Build:
      - 76600b8d0c
    body:
      encoding: UTF-8
      string: '{"MetaInformation":{"@TotalResources":3,"@TotalPages":1,"@CurrentPage":1},"Invoices":[{"@url":"https:\/\/api.fortnox.se\/3\/invoices\/16","Balance":1250,"Booked":true,"Cancelled":false,"Currency":"SEK","CurrencyRate":"1","CurrencyUnit":1,"CustomerName":"Old
        name","CustomerNumber":"1","DocumentNumber":"16","DueDate":"2016-05-15","ExternalInvoiceReference1":"","ExternalInvoiceReference2":"","InvoiceDate":"2016-05-15","NoxFinans":false,"OCR":"1644","WayOfDelivery":"","TermsOfPayment":"0","Project":"2","Sent":false,"Total":1250},{"@url":"https:\/\/api.fortnox.se\/3\/invoices\/17","Balance":1250,"Booked":true,"Cancelled":false,"Currency":"SEK","CurrencyRate":"1","CurrencyUnit":1,"CustomerName":"Old
        name","CustomerNumber":"1","DocumentNumber":"17","DueDate":"2016-06-04","ExternalInvoiceReference1":"","ExternalInvoiceReference2":"","InvoiceDate":"2016-05-15","NoxFinans":false,"OCR":"1743","WayOfDelivery":"","TermsOfPayment":"20","Project":"2","Sent":false,"Total":1250},{"@url":"https:\/\/api.fortnox.se\/3\/invoices\/19","Balance":-1250,"Booked":true,"Cancelled":false,"Currency":"SEK","CurrencyRate":"1","CurrencyUnit":1,"CustomerName":"Old
        name","CustomerNumber":"1","DocumentNumber":"19","DueDate":"2016-05-15","ExternalInvoiceReference1":"","ExternalInvoiceReference2":"","InvoiceDate":"2016-05-15","NoxFinans":false,"OCR":"1941","WayOfDelivery":"","TermsOfPayment":"20","Project":"2","Sent":false,"Total":-1250}]}'
  recorded_at: Thu, 13 Oct 2016 14:57:43 GMT
recorded_with: VCR 3.0.1
