---
http_interactions:
- request:
    method: get
    uri: https://api.fortnox.se/3/invoices?filter=fullypaid
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - "<AUTHORIZATION>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Build:
      - 1fbde2b71a
      X-Krakend:
      - Version 2.13.3
      X-Krakend-Completed:
      - 'false'
      X-Rack-Responsetime:
      - '200'
      X-Uid:
      - d8c538ae
    body:
      encoding: UTF-8
      string: '{"MetaInformation":{"@TotalResources":1,"@TotalPages":1,"@CurrentPage":1},"Invoices":[{"@url":"https:\/\/api.fortnox.se\/3\/invoices\/23","Balance":0,"Booked":true,"Cancelled":false,"CostCenter":"","Currency":"SEK","CurrencyRate":"1","CurrencyUnit":1,"CustomerName":"Test
        customer","CustomerNumber":"7","DocumentNumber":"23","DueDate":"2026-05-18","ExternalInvoiceReference1":"","ExternalInvoiceReference2":"","InvoiceDate":"2026-04-18","InvoiceType":"INVOICE","NoxFinans":false,"OCR":"2345","VoucherNumber":1,"VoucherSeries":"B","VoucherYear":1,"WayOfDelivery":"","TermsOfPayment":"30","Project":"","Sent":false,"Total":125,"FinalPayDate":"2026-04-18"}]}'
  recorded_at: Wed, 29 Apr 2026 09:11:39 GMT
recorded_with: VCR 6.4.0
