---
http_interactions:
- request:
    method: get
    uri: https://api.fortnox.se/3/invoices/?filter=fullypaid
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Client-Secret:
      - 9aBA8ZgsvR
      Access-Token:
      - ccaef817-d5d8-4b1c-a316-54f3e55c5c54
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Rack-Responsetime:
      - '51'
      X-Uid:
      - 0576ffab
      X-Build:
      - e930a91c78
    body:
      encoding: UTF-8
      string: '{"MetaInformation":{"@TotalResources":4,"@TotalPages":1,"@CurrentPage":1},"Invoices":[{"@url":"https:\/\/api.fortnox.se\/3\/invoices\/15","Balance":0,"Booked":true,"Cancelled":false,"CostCenter":"","Currency":"SEK","CurrencyRate":"1","CurrencyUnit":1,"CustomerName":"Test
        customer","CustomerNumber":"3","DocumentNumber":"15","DueDate":"2016-05-15","ExternalInvoiceReference1":"","ExternalInvoiceReference2":"","InvoiceDate":"2016-05-15","InvoiceType":"INVOICE","NoxFinans":false,"OCR":"1545","VoucherNumber":1,"VoucherSeries":"B","VoucherYear":1,"WayOfDelivery":"","TermsOfPayment":"0","Project":"2","Sent":false,"Total":138,"FinalPayDate":"2016-05-15"},{"@url":"https:\/\/api.fortnox.se\/3\/invoices\/64","Balance":0,"Booked":true,"Cancelled":false,"CostCenter":"","Currency":"SEK","CurrencyRate":"1","CurrencyUnit":1,"CustomerName":"Anna
        Norman","CustomerNumber":"82","DocumentNumber":"64","DueDate":"2016-11-25","ExternalInvoiceReference1":"","ExternalInvoiceReference2":"","InvoiceDate":"2016-11-25","InvoiceType":"INVOICE","NoxFinans":false,"OCR":"6445","VoucherNumber":5,"VoucherSeries":"B","VoucherYear":1,"WayOfDelivery":"",[...]
