---
http_interactions:
- request:
    method: get
    uri: https://api.fortnox.se/3/invoices/?filter=fullypaid
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - "<AUTHORIZATION>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Build:
      - 16d854443d
      X-Rack-Responsetime:
      - '147'
      X-Uid:
      - 807ebaf9
    body:
      encoding: ASCII-8BIT
      string: '{"MetaInformation":{"@TotalResources":2,"@TotalPages":1,"@CurrentPage":1},"Invoices":[{"@url":"https:\/\/api.fortnox.se\/3\/invoices\/32","Balance":0,"Booked":true,"Cancelled":false,"CostCenter":"","Currency":"SEK","CurrencyRate":"1","CurrencyUnit":1,"CustomerName":"Updated
        name","CustomerNumber":"1","DocumentNumber":"32","DueDate":"2023-03-01","ExternalInvoiceReference1":"","ExternalInvoiceReference2":"","InvoiceDate":"2023-01-30","InvoiceType":"INVOICE","NoxFinans":false,"OCR":"3244","VoucherNumber":1,"VoucherSeries":"B","VoucherYear":1,"WayOfDelivery":"","TermsOfPayment":"30","Project":"","Sent":false,"Total":0,"FinalPayDate":"2023-01-30"},{"@url":"https:\/\/api.fortnox.se\/3\/invoices\/33","Balance":0,"Booked":true,"Cancelled":false,"CostCenter":"","Currency":"SEK","CurrencyRate":"1","CurrencyUnit":1,"CustomerName":"A
        customer","CustomerNumber":"5","DocumentNumber":"33","DueDate":"2023-03-01","ExternalInvoiceReference1":"","ExternalInvoiceReference2":"","InvoiceDate":"2023-01-30","InvoiceType":"INVOICE","NoxFinans":false,"OCR":"3343","VoucherNumber":2,"VoucherSeries":"B","VoucherYear":1,"WayOfDelivery":"","TermsOfPayment":"30","Project":"","Sent":false,"Total":0,"FinalPayDate":"2023-01-30"}]}'
  recorded_at: Mon, 30 Jan 2023 10:24:41 GMT
recorded_with: VCR 6.1.0
