---
http_interactions:
- request:
    method: get
    uri: https://api.fortnox.se/3/invoices/?filter=fullypaid
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - "<AUTHORIZATION>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Build:
      - 380d444b08
      X-Rack-Responsetime:
      - '157'
      X-Uid:
      - 75aaf113
    body:
      encoding: ASCII-8BIT
      string: '{"MetaInformation":{"@TotalResources":3,"@TotalPages":1,"@CurrentPage":1},"Invoices":[{"@url":"https:\/\/api.fortnox.se\/3\/invoices\/2","Balance":0,"Booked":true,"Cancelled":false,"CostCenter":"","Currency":"SEK","CurrencyRate":"1","CurrencyUnit":1,"CustomerName":"Updated
        name","CustomerNumber":"1","DocumentNumber":"2","DueDate":"2022-07-02","ExternalInvoiceReference1":"","ExternalInvoiceReference2":"","InvoiceDate":"2022-06-02","InvoiceType":"INVOICE","NoxFinans":false,"OCR":"426523791","VoucherNumber":1,"VoucherSeries":"B","VoucherYear":1,"WayOfDelivery":"","TermsOfPayment":"30","Project":"","Sent":false,"Total":100,"FinalPayDate":"2022-06-02"},{"@url":"https:\/\/api.fortnox.se\/3\/invoices\/3","Balance":0,"Booked":true,"Cancelled":false,"CostCenter":"","Currency":"SEK","CurrencyRate":"1","CurrencyUnit":1,"CustomerName":"Updated
        name","CustomerNumber":"1","DocumentNumber":"3","DueDate":"2022-07-02","ExternalInvoiceReference1":"","ExternalInvoiceReference2":"","InvoiceDate":"2022-06-02","InvoiceType":"INVOICE","NoxFinans":false,"OCR":"331","VoucherNumber":2,"VoucherSeries":"B","VoucherYear":1,"WayOfDelivery":"","TermsOfPayment":"30","Project":"","Sent":false,"Total":200,"FinalPayDate":"2022-06-02"},{"@url":"https:\/\/api.fortnox.se\/3\/invoices\/4","Balance":0,"Booked":true,"Cancelled":false,"CostCenter":"","Currency":"SEK","CurrencyRate":"1","CurrencyUnit":1,"CustomerName":"Updated
        name","CustomerNumber":"1","DocumentNumber":"4","DueDate":"2022-07-02","ExternalInvoiceReference1":"","ExternalInvoiceReference2":"","InvoiceDate":"2022-06-02","InvoiceType":"INVOICE","NoxFinans":false,"OCR":"430","VoucherNumber":3,"VoucherSeries":"B","VoucherYear":1,"WayOfDelivery":"","TermsOfPayment":"30","Project":"","Sent":false,"Total":150,"FinalPayDate":"2022-06-02"}]}'
  recorded_at: Thu, 02 Jun 2022 18:32:18 GMT
recorded_with: VCR 4.0.0
