---
http_interactions:
- request:
    method: get
    uri: https://api.fortnox.se/3/invoices/?filter=doesntexist
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Client-Secret:
      - 9aBA8ZgsvR
      Access-Token:
      - ccaef817-d5d8-4b1c-a316-54f3e55c5c54
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json
      X-Rack-Responsetime:
      - '53'
      X-Uid:
      - dda626ad
      X-Build:
      - 8511f0b926
    body:
      encoding: UTF-8
      string: '{"ErrorInformation":{"error":1,"message":"Ett ogiltigt filter har anv\u00e4nts.","code":2000587}}'
  recorded_at: Thu, 28 Apr 2016 09:17:17 GMT
recorded_with: VCR 3.0.1
