---
http_interactions:
- request:
    method: get
    uri: https://api.fortnox.se/3/invoices/123456789
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Client-Secret:
      - 9aBA8ZgsvR
      Access-Token:
      - ccaef817-d5d8-4b1c-a316-54f3e55c5c54
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json
      X-Rack-Responsetime:
      - '30'
      X-Uid:
      - 6d6ecffa
      X-Build:
      - d59e2acefa
    body:
      encoding: ASCII-8BIT
      string: '{"ErrorInformation":{"Error":1,"Message":"Kan inte hitta fakturan.","Code":2000434}}'
  recorded_at: Mon, 21 Dec 2020 20:41:46 GMT
recorded_with: VCR 4.0.0
