---
http_interactions:
- request:
    method: get
    uri: https://api.fortnox.se/3/invoices/123456789
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Client-Secret:
      - 9aBA8ZgsvR
      Access-Token:
      - ccaef817-d5d8-4b1c-a316-54f3e55c5c54
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json
      X-Rack-Responsetime:
      - '29'
      X-Uid:
      - 5c2c9574
      X-Build:
      - 401ff9d5e0
    body:
      encoding: UTF-8
      string: '{"ErrorInformation":{"Error":1,"Message":"Kan inte hitta fakturan.","Code":2000434}}'
  recorded_at: Wed, 12 Jul 2017 10:21:40 GMT
recorded_with: VCR 3.0.3
