---
http_interactions:
- request:
    method: post
    uri: https://api.fortnox.se/3/invoices
    body:
      encoding: UTF-8
      string: '{"Invoice":{"CustomerNumber":"1","Labels":[],"InvoiceRows":[{"ArticleNumber":"101","DeliveredQuantity":1.123,"Description":"Test"}]}}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - "<AUTHORIZATION>"
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json
      Location:
      - invoices
      X-Build:
      - d19605fe96
      X-Krakend:
      - Version 2.13.3
      X-Krakend-Completed:
      - 'false'
      X-Rack-Responsetime:
      - '706'
      X-Uid:
      - b8f0de00
    body:
      encoding: UTF-8
      string: '{"Invoice":{"@url":"https:\/\/api.fortnox.se\/3\/invoices\/116","@urlTaxReductionList":"https:\/\/api.fortnox.se\/3\/taxreductions?filter=invoices&referencenumber=116","AccountingMethod":"ACCRUAL","Address1":"","Address2":"","AdministrationFee":0,"AdministrationFeeVAT":0,"Balance":0,"BasisTaxReduction":0,"Booked":false,"Cancelled":false,"City":"","Comments":"","ContractReference":"0","ContributionPercent":0,"ContributionValue":0,"CostCenter":"","Country":"","Credit":"false","CreditInvoiceReference":"0","Currency":"SEK","CurrencyRate":1,"CurrencyUnit":1,"CustomerName":"Customer
        with IDN email","CustomerNumber":"1","DeliveryAddress1":"","DeliveryAddress2":"","DeliveryCity":"","DeliveryCountry":"","DeliveryDate":null,"DeliveryName":"","DeliveryZipCode":"","DocumentNumber":"116","DueDate":"2026-09-03","EDIInformation":{"EDIGlobalLocationNumber":null,"EDIGlobalLocationNumberDelivery":null,"EDIInvoiceExtra1":null,"EDIInvoiceExtra2":null,"EDIOurElectronicReference":null,"EDIYourElectronicReference":null,"EDIStatus":""},"EUQuarterlyReport":false,"EmailInformation":{"EmailAddressFrom":null,"EmailAddressTo":"user@test.se","EmailAddressCC":null,"EmailAddressBCC":null,"EmailSubject":"Faktura
        {no} bifogas","EmailBody":" "},"ExternalInvoiceReference1":"","ExternalInvoiceReference2":"","FinalPayDate":null,"Freight":0,"FreightVAT":0,"Gross":0,"HouseWork":false,"InvoiceDate":"2026-08-04","InvoicePeriodEnd":"","InvoicePeriodStart":"","InvoiceReference":"0","InvoiceRows":[{"AccountNumber":3001,"ArticleNumber":"101","ContributionPercent":"0","ContributionValue":"0","Cost":0,"CostCenter":"","DeliveredQuantity":"1.12","Description":"Test","Discount":0,"DiscountType":"PERCENT","HouseWork":false,"HouseWorkHoursToReport":null,"HouseWorkType":null,"Price":0,"PriceExcludingVAT":0,"Project":"","RowId":119,"StockPointCode":null,"Total":0,"TotalExcludingVAT":0,"Unit":"","VAT":25,"VATCode":"MP1"}],"InvoiceType":"INVOICE","Labels":[],"Language":"SV","LastRemindDate":null,"Net":0,"NotCompleted":false,"NoxFinans":false,"OCR":"11650","OfferReference":"0","OrderReference":"0","OrganisationNumber":"","OurReference":"","OutboundDate":"2026-08-04","PaymentWay":"","Phone1":"","Phone2":"","PriceList":"A","PrintTemplate":"st","Project":"","Remarks":"","Reminders":0,"RoundOff":0,"Sent":false,"TaxReduction":null,"TaxReductionType":"none","TermsOfDelivery":"","TermsOfPayment":"30","TimeBasisReference":null,"Total":0,"TotalToPay":0,"TotalVAT":0,"VATIncluded":false,"VoucherNumber":null,"VoucherSeries":null,"VoucherYear":null,"WarehouseReady":false,"WayOfDelivery":"","YourOrderNumber":"","YourReference":"","ZipCode":""}}'
  recorded_at: Tue, 04 Aug 2026 07:54:41 GMT
recorded_with: VCR 6.4.0
