---
http_interactions:
- request:
    method: post
    uri: https://api.fortnox.se/3/invoices/
    body:
      encoding: UTF-8
      string: '{"Invoice":{"CustomerNumber":1,"InvoiceRows":{"invoice_row":{"price":10,"price_excluding_vat":7}}}}'
    headers:
      Content-Type:
      - application/json
      Client-Secret:
      - 9aBA8ZgsvR
      Access-Token:
      - ccaef817-d5d8-4b1c-a316-54f3e55c5c54
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json
      X-Rack-Responsetime:
      - '264'
      X-Uid:
      - 28615c28
      X-Build:
      - d53aa340b9
    body:
      encoding: UTF-8
      string: '{"ErrorInformation":{"error":1,"message":"Felaktigt f\u00e4ltnamn (price)","code":2001399}}'
  recorded_at: Mon, 22 Aug 2016 15:24:17 GMT
recorded_with: VCR 3.0.1
