---
http_interactions:
- request:
    method: post
    uri: https://api.fortnox.se/3/invoices
    body:
      encoding: UTF-8
      string: '{"Invoice":{"AdministrationFee":null,"Address1":null,"Address2":null,"City":null,"Comments":null,"Country":"Korea
        (Republic of)","CostCenter":null,"Currency":null,"CurrencyRate":null,"CurrencyUnit":null,"CustomerName":null,"CustomerNumber":"1","DeliveryAddress1":null,"DeliveryAddress2":null,"DeliveryCity":null,"DeliveryCountry":"","DeliveryDate":null,"DeliveryName":null,"DeliveryZipCode":null,"DocumentNumber":null,"EmailInformation":null,"ExternalInvoiceReference1":null,"ExternalInvoiceReference2":null,"Freight":null,"Labels":[],"NotCompleted":null,"OurReference":null,"Phone1":null,"Phone2":null,"PriceList":null,"PrintTemplate":null,"Project":null,"Remarks":null,"TaxReductionType":null,"TermsOfDelivery":null,"TermsOfPayment":null,"VATIncluded":null,"WayOfDelivery":null,"YourOrderNumber":null,"YourReference":null,"ZipCode":null,"AccountingMethod":null,"CreditInvoiceReference":null,"DueDate":null,"EDIInformation":null,"EUQuarterlyReport":null,"FinalPayDate":null,"InvoiceDate":null,"InvoiceReference":null,"InvoiceRows":null,"InvoiceType":null,"Language":null,"OCR":null,"OutboundDate":null,"PaymentWay":null,"TimeBasisReference":null,"TotalToPay":null,"WarehouseReady":null}}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 403
      message: Forbidden
    headers:
      Content-Type:
      - application/json
      X-Build:
      - 87e79a0f39
      X-Krakend:
      - Version 2.9.4
      X-Krakend-Completed:
      - 'false'
      X-Rack-Responsetime:
      - '11'
      X-Uid:
      - bc8070fb
    body:
      encoding: UTF-8
      string: '{"ErrorInformation":{"Error":1,"Message":"Unable to log in. Access
        token or client secret missing.","Code":2000311}}'
  recorded_at: Thu, 12 Mar 2026 09:00:17 GMT
recorded_with: VCR 6.4.0
