---
http_interactions:
- request:
    method: put
    uri: https://api.fortnox.se/3/invoices/30
    body:
      encoding: UTF-8
      string: '{"Comments":"Updated comments"}'
    headers:
      Content-Type:
      - application/json
      Client-Secret:
      - 9aBA8ZgsvR
      Access-Token:
      - ccaef817-d5d8-4b1c-a316-54f3e55c5c54
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json
      X-Rack-Responsetime:
      - '52'
      X-Uid:
      - c9711085
      X-Build:
      - 76600b8d0c
    body:
      encoding: UTF-8
      string: '{"ErrorInformation":{"error":1,"message":"Ingen eller felaktig typ
        av data.","code":2001392}}'
  recorded_at: Thu, 13 Oct 2016 14:57:41 GMT
recorded_with: VCR 3.0.1
