---
http_interactions:
- request:
    method: get
    uri: https://api.fortnox.se/3/invoices/?customername=Test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - "<AUTHORIZATION>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Build:
      - 380d444b08
      X-Rack-Responsetime:
      - '131'
      X-Uid:
      - aa50827c
    body:
      encoding: ASCII-8BIT
      string: '{"MetaInformation":{"@TotalResources":1,"@TotalPages":1,"@CurrentPage":1},"Invoices":[{"@url":"https:\/\/api.fortnox.se\/3\/invoices\/5","Balance":0,"Booked":false,"Cancelled":false,"CostCenter":"","Currency":"SEK","CurrencyRate":"1","CurrencyUnit":1,"CustomerName":"Test
        customer","CustomerNumber":"2","DocumentNumber":"5","DueDate":"2022-07-02","ExternalInvoiceReference1":"","ExternalInvoiceReference2":"","InvoiceDate":"2022-06-02","InvoiceType":"INVOICE","NoxFinans":false,"OCR":"539","VoucherNumber":null,"VoucherSeries":null,"VoucherYear":null,"WayOfDelivery":"","TermsOfPayment":"30","Project":"","Sent":false,"Total":0,"FinalPayDate":null}]}'
  recorded_at: Thu, 02 Jun 2022 18:33:26 GMT
recorded_with: VCR 4.0.0
