---
http_interactions:
- request:
    method: get
    uri: https://api.fortnox.se/3/invoices/?yourreference=Gandalf%20the%20Grey
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - "<AUTHORIZATION>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Build:
      - 380d444b08
      X-Rack-Responsetime:
      - '143'
      X-Uid:
      - a94e38f6
    body:
      encoding: ASCII-8BIT
      string: '{"MetaInformation":{"@TotalResources":2,"@TotalPages":1,"@CurrentPage":1},"Invoices":[{"@url":"https:\/\/api.fortnox.se\/3\/invoices\/17","Balance":0,"Booked":false,"Cancelled":false,"CostCenter":"","Currency":"SEK","CurrencyRate":"1","CurrencyUnit":1,"CustomerName":"Updated
        name","CustomerNumber":"1","DocumentNumber":"17","DueDate":"2022-07-02","ExternalInvoiceReference1":"","ExternalInvoiceReference2":"","InvoiceDate":"2022-06-02","InvoiceType":"INVOICE","NoxFinans":false,"OCR":"1743","VoucherNumber":null,"VoucherSeries":null,"VoucherYear":null,"WayOfDelivery":"","TermsOfPayment":"30","Project":"","Sent":false,"Total":0,"FinalPayDate":null},{"@url":"https:\/\/api.fortnox.se\/3\/invoices\/19","Balance":0,"Booked":false,"Cancelled":false,"CostCenter":"","Currency":"SEK","CurrencyRate":"1","CurrencyUnit":1,"CustomerName":"Updated
        name","CustomerNumber":"1","DocumentNumber":"19","DueDate":"2022-07-02","ExternalInvoiceReference1":"","ExternalInvoiceReference2":"","InvoiceDate":"2022-06-02","InvoiceType":"INVOICE","NoxFinans":false,"OCR":"1941","VoucherNumber":null,"VoucherSeries":null,"VoucherYear":null,"WayOfDelivery":"","TermsOfPayment":"30","Project":"","Sent":false,"Total":0,"FinalPayDate":null}]}'
  recorded_at: Thu, 02 Jun 2022 16:32:27 GMT
recorded_with: VCR 4.0.0
