---
http_interactions:
- request:
    method: get
    uri: https://api.fortnox.se/3/invoices/?yourreference=Gandalf%20the%20Grey
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Client-Secret:
      - 9aBA8ZgsvR
      Access-Token:
      - ccaef817-d5d8-4b1c-a316-54f3e55c5c54
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Rack-Responsetime:
      - '46'
      X-Uid:
      - 2d9eccd4
      X-Build:
      - d59e2acefa
    body:
      encoding: ASCII-8BIT
      string: '{"MetaInformation":{"@TotalResources":2,"@TotalPages":1,"@CurrentPage":1},"Invoices":[{"@url":"https:\/\/api.fortnox.se\/3\/invoices\/2","Balance":0,"Booked":false,"Cancelled":false,"CostCenter":"","Currency":"SEK","CurrencyRate":"1","CurrencyUnit":1,"CustomerName":"Updated
        customer","CustomerNumber":"1","DocumentNumber":"2","DueDate":"2016-03-18","ExternalInvoiceReference1":"","ExternalInvoiceReference2":"","InvoiceDate":"2016-03-16","InvoiceType":"INVOICE","NoxFinans":false,"OCR":"232","VoucherNumber":null,"VoucherSeries":null,"VoucherYear":null,"WayOfDelivery":"","TermsOfPayment":"0","Project":"","Sent":false,"Total":0,"FinalPayDate":null},{"@url":"https:\/\/api.fortnox.se\/3\/invoices\/3","Balance":200,"Booked":false,"Cancelled":false,"CostCenter":"","Currency":"SEK","CurrencyRate":"1","CurrencyUnit":1,"CustomerName":"Updated
        customer","CustomerNumber":"1","DocumentNumber":"3","DueDate":"2016-03-17","ExternalInvoiceReference1":"","ExternalInvoiceReference2":"","InvoiceDate":"2016-03-16","InvoiceType":"INVOICE","NoxFinans":false,"OCR":"331","VoucherNumber":null,"VoucherSeries":null,"VoucherYear":null,"WayOfDelivery":"","TermsOfPayment":"0","Project":"","Sent":false,"Total":200,"FinalPayDate":null}]}'
  recorded_at: Mon, 21 Dec 2020 20:41:47 GMT
recorded_with: VCR 4.0.0
