---
http_interactions:
- request:
    method: get
    uri: https://api.fortnox.se/3/customers/123456789
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - "<AUTHORIZATION>"
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json
      X-Build:
      - 58ce5df7dc
      X-Krakend:
      - Version 2.13.3
      X-Krakend-Completed:
      - 'false'
      X-Rack-Responsetime:
      - '352'
      X-Uid:
      - 8bc24e4c
    body:
      encoding: UTF-8
      string: '{"ErrorInformation":{"Error":1,"Message":"Kan inte hitta kunden.","Code":2000433}}'
  recorded_at: Fri, 24 Apr 2026 11:03:43 GMT
recorded_with: VCR 6.4.0
