---
http_interactions:
- request:
    method: get
    uri: https://api.fortnox.se/3/customers/?city=New%20York&zipcode=10001
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Client-Secret:
      - 9aBA8ZgsvR
      Access-Token:
      - ccaef817-d5d8-4b1c-a316-54f3e55c5c54
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Build:
      - 9dd4e26746
      X-Rack-Responsetime:
      - '82'
      X-Uid:
      - ce0751a3
    body:
      encoding: ASCII-8BIT
      string: '{"MetaInformation":{"@TotalResources":1,"@TotalPages":1,"@CurrentPage":1},"Customers":[{"@url":"https:\/\/api.fortnox.se\/3\/customers\/2","Address1":"","Address2":"","City":"New
        York","CustomerNumber":"2","Email":"","Name":"A customer","OrganisationNumber":"600102-7447","Phone":"","ZipCode":"10001"}]}'
  recorded_at: Mon, 22 Jan 2024 14:52:50 GMT
recorded_with: VCR 6.2.0
