---
http_interactions:
- request:
    method: get
    uri: https://api.fortnox.se/3/customers?city=New%20York&zipcode=10001
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - "<AUTHORIZATION>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Build:
      - 1fbde2b71a
      X-Krakend:
      - Version 2.13.3
      X-Krakend-Completed:
      - 'false'
      X-Rack-Responsetime:
      - '217'
      X-Uid:
      - 7ff73e23
    body:
      encoding: UTF-8
      string: '{"MetaInformation":{"@TotalResources":1,"@TotalPages":1,"@CurrentPage":1},"Customers":[{"@url":"https:\/\/api.fortnox.se\/3\/customers\/5","Address1":"","Address2":"","City":"New
        York","CustomerNumber":"5","Email":"","Name":"Another customer from New York","OrganisationNumber":"","Phone":"","ZipCode":"10001"}]}'
  recorded_at: Wed, 29 Apr 2026 09:00:09 GMT
recorded_with: VCR 6.4.0
