---
http_interactions:
- request:
    method: get
    uri: https://api.fortnox.se/3/customers/?city=New%20York&zipcode=10001
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - "<AUTHORIZATION>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Build:
      - 380d444b08
      X-Rack-Responsetime:
      - '74'
      X-Uid:
      - e7ddbac9
    body:
      encoding: ASCII-8BIT
      string: '{"MetaInformation":{"@TotalResources":1,"@TotalPages":1,"@CurrentPage":1},"Customers":[{"@url":"https:\/\/api.fortnox.se\/3\/customers\/6","Address1":"","Address2":"","City":"New
        York","CustomerNumber":"6","Email":"","Name":"Another customer from New York","OrganisationNumber":"","Phone":"","ZipCode":"10001"}]}'
  recorded_at: Thu, 02 Jun 2022 15:42:14 GMT
recorded_with: VCR 4.0.0
