---
http_interactions:
- request:
    method: put
    uri: http://api.fortnox.se/3/customers/
    body:
      encoding: UTF-8
      string: '{"Customer":{"Currency":"SEK","CustomerNumber":"1","Email":"","EmailInvoice":"","EmailInvoiceBCC":"","EmailInvoiceCC":"","EmailOffer":"","EmailOfferBCC":"","EmailOfferCC":"","EmailOrder":"","EmailOrderBCC":"","EmailOrderCC":"","InvoiceRemark":"","Name":"Updated
        customer","OrganisationNumber":"","OurReference":"","PriceList":"A","Project":"","ShowPriceVATIncluded":false,"TermsOfDelivery":"","TermsOfPayment":"","Type":"COMPANY","VATNumber":"","VATType":"SEVAT","WayOfDelivery":"","YourReference":""}}'
    headers:
      Content-Type:
      - application/json
      Client-Secret:
      - 9aBA8ZgsvR
      Access-Token:
      - ccaef817-d5d8-4b1c-a316-54f3e55c5c54
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json
      X-Rack-Responsetime:
      - '257'
      X-Uid:
      - a0455e76
      X-Build:
      - 954341dc68
    body:
      encoding: UTF-8
      string: '{"ErrorInformation":{"error":1,"message":"A valid identifier was not
        provided.","code":2000729}}'
  recorded_at: Mon, 14 Mar 2016 16:04:52 GMT
recorded_with: VCR 3.0.1
