---
http_interactions:
- request:
    method: put
    uri: https://api.fortnox.se/3/customers/116
    body:
      encoding: UTF-8
      string: '{"Name":"Updated name"}'
    headers:
      Content-Type:
      - application/json
      Authorization-Code:
      - ea3862b0-189c-464b-8e23-1b9702365ea1
      Client-Secret:
      - 9aBA8ZgsvR
      Access-Token:
      - ccaef817-d5d8-4b1c-a316-54f3e55c5c54
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json
      X-Rack-Responsetime:
      - '21'
      X-Uid:
      - 858a363d
      X-Build:
      - 76600b8d0c
    body:
      encoding: UTF-8
      string: '{"ErrorInformation":{"error":1,"message":"Ingen eller felaktig typ
        av data.","code":2001392}}'
  recorded_at: Thu, 13 Oct 2016 14:57:46 GMT
recorded_with: VCR 3.0.1
