---
http_interactions:
- request:
    method: put
    uri: https://api.fortnox.se/3/customers/145
    body:
      encoding: UTF-8
      string: '{"Customer":{"Name":"Updated name"}}'
    headers:
      Content-Type:
      - application/json
      Client-Secret:
      - 9aBA8ZgsvR
      Access-Token:
      - ccaef817-d5d8-4b1c-a316-54f3e55c5c54
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Rack-Responsetime:
      - '57'
      X-Uid:
      - e2ee4bd7
      X-Build:
      - 76600b8d0c
    body:
      encoding: UTF-8
      string: '{"Customer":{"@url":"https:\/\/api.fortnox.se\/3\/customers\/145","Address1":null,"Address2":null,"City":null,"Country":null,"Comments":null,"Currency":"SEK","CostCenter":null,"CountryCode":null,"CustomerNumber":"145","DefaultDeliveryTypes":{"Invoice":"PRINT","Order":"PRINT","Offer":"PRINT"},"DefaultTemplates":{"Order":"DEFAULTTEMPLATE","Offer":"DEFAULTTEMPLATE","Invoice":"DEFAULTTEMPLATE","CashInvoice":"DEFAULTTEMPLATE"},"DeliveryAddress1":null,"DeliveryAddress2":null,"DeliveryCity":null,"DeliveryCountry":null,"DeliveryCountryCode":null,"DeliveryFax":null,"DeliveryName":null,"DeliveryPhone1":null,"DeliveryPhone2":null,"DeliveryZipCode":null,"Email":"","EmailInvoice":"","EmailInvoiceBCC":"","EmailInvoiceCC":"","EmailOffer":"","EmailOfferBCC":"","EmailOfferCC":"","EmailOrder":"","EmailOrderBCC":"","EmailOrderCC":"","Fax":null,"InvoiceAdministrationFee":null,"InvoiceDiscount":null,"InvoiceFreight":null,"InvoiceRemark":"","Name":"Updated
        name","OrganisationNumber":"","OurReference":"","Phone1":null,"Phone2":null,"PriceList":"A","Project":"","SalesAccount":null,"ShowPriceVATIncluded":false,"TermsOfDelivery":"","TermsOfPayment":"","Type":"COMPANY","VATNumber":"","VATType":"SEVAT","VisitingAddress":null,"VisitingCity":null,"VisitingCountry":null,"VisitingCountryCode":null,"VisitingZipCode":null,"WayOfDelivery":"","WWW":"","YourReference":"","ZipCode":null}}'
  recorded_at: Tue, 25 Oct 2016 10:21:49 GMT
recorded_with: VCR 3.0.1
