---
http_interactions:
- request:
    method: get
    uri: https://api.fortnox.se/3/customers/?city=New%20York
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - "<AUTHORIZATION>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Build:
      - 16d854443d
      X-Rack-Responsetime:
      - '64'
      X-Uid:
      - 00be7577
    body:
      encoding: ASCII-8BIT
      string: '{"MetaInformation":{"@TotalResources":2,"@TotalPages":1,"@CurrentPage":1},"Customers":[{"@url":"https:\/\/api.fortnox.se\/3\/customers\/1","Address1":"","Address2":"","City":"New
        York","CustomerNumber":"1","Email":"","Name":"Updated name","OrganisationNumber":"","Phone":"","ZipCode":"10001"},{"@url":"https:\/\/api.fortnox.se\/3\/customers\/2","Address1":"","Address2":"","City":"New
        York","CustomerNumber":"2","Email":"","Name":"Test customer","OrganisationNumber":"","Phone":"","ZipCode":""}]}'
  recorded_at: Mon, 30 Jan 2023 10:36:43 GMT
recorded_with: VCR 6.1.0
