---
http_interactions:
- request:
    method: get
    uri: https://api.fortnox.se/3/orders/?filter=doesntexist
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - "<AUTHORIZATION>"
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json
      X-Build:
      - 16d854443d
      X-Rack-Responsetime:
      - '74'
      X-Uid:
      - c1b27962
    body:
      encoding: UTF-8
      string: '{"ErrorInformation":{"error":1,"message":"Ett ogiltigt filter har anv\u00e4nts.","code":2000587}}'
  recorded_at: Mon, 30 Jan 2023 10:32:33 GMT
recorded_with: VCR 6.1.0
