---
http_interactions:
- request:
    method: get
    uri: https://api.fortnox.se/3/orders/?filter=cancelled
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization-Code:
      - ea3862b0-189c-464b-8e23-1b9702365ea1
      Client-Secret:
      - 9aBA8ZgsvR
      Access-Token:
      - ccaef817-d5d8-4b1c-a316-54f3e55c5c54
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Rack-Responsetime:
      - '41'
      X-Uid:
      - d4a16b9a
      X-Build:
      - 76600b8d0c
    body:
      encoding: UTF-8
      string: '{"MetaInformation":{"@TotalResources":3,"@TotalPages":1,"@CurrentPage":1},"Orders":[{"@url":"https:\/\/api.fortnox.se\/3\/orders\/2","Cancelled":true,"Currency":"SEK","CustomerName":"An
        updated value","CustomerNumber":"1","DeliveryDate":null,"DocumentNumber":"2","ExternalInvoiceReference1":"","ExternalInvoiceReference2":"","OrderDate":"2016-04-20","Project":"","Sent":false,"Total":0},{"@url":"https:\/\/api.fortnox.se\/3\/orders\/3","Cancelled":true,"Currency":"SEK","CustomerName":"An
        updated value","CustomerNumber":"1","DeliveryDate":null,"DocumentNumber":"3","ExternalInvoiceReference1":"","ExternalInvoiceReference2":"","OrderDate":"2016-04-20","Project":"","Sent":false,"Total":0},{"@url":"https:\/\/api.fortnox.se\/3\/orders\/69","Cancelled":true,"Currency":"SEK","CustomerName":"Test
        customer","CustomerNumber":"3","DeliveryDate":null,"DocumentNumber":"69","ExternalInvoiceReference1":"","ExternalInvoiceReference2":"","OrderDate":"2016-05-15","Project":"2","Sent":false,"Total":0}]}'
  recorded_at: Thu, 13 Oct 2016 19:19:07 GMT
recorded_with: VCR 3.0.1
