---
http_interactions:
- request:
    method: get
    uri: https://api.fortnox.se/3/orders?filter=cancelled
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - "<AUTHORIZATION>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Build:
      - d19605fe96
      X-Krakend:
      - Version 2.13.3
      X-Krakend-Completed:
      - 'false'
      X-Rack-Responsetime:
      - '221'
      X-Uid:
      - fcf1bf89
    body:
      encoding: UTF-8
      string: '{"MetaInformation":{"@TotalResources":1,"@TotalPages":1,"@CurrentPage":1},"Orders":[{"@url":"https:\/\/api.fortnox.se\/3\/orders\/5","Cancelled":true,"Currency":"SEK","CustomerName":"Test
        customer","CustomerNumber":"7","DeliveryDate":"2026-04-18","DocumentNumber":"5","ExternalInvoiceReference1":"","ExternalInvoiceReference2":"","OrderDate":"2026-04-18","OrderType":"Order","Project":"","Sent":false,"Total":0}]}'
  recorded_at: Tue, 04 Aug 2026 07:54:57 GMT
recorded_with: VCR 6.4.0
