---
http_interactions:
- request:
    method: get
    uri: https://api.fortnox.se/3/orders?filter=doesntexist
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - "<AUTHORIZATION>"
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json
      X-Build:
      - 58ce5df7dc
      X-Krakend:
      - Version 2.13.3
      X-Krakend-Completed:
      - 'false'
      X-Rack-Responsetime:
      - '312'
      X-Uid:
      - bb35b99a
    body:
      encoding: UTF-8
      string: '{"ErrorInformation":{"error":1,"message":"Ett ogiltigt filter har anv\u00e4nts.","code":2000587}}'
  recorded_at: Fri, 24 Apr 2026 11:04:43 GMT
recorded_with: VCR 6.4.0
