---
http_interactions:
- request:
    method: get
    uri: https://api.fortnox.se/3/orders/?filter=cancelled
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - "<AUTHORIZATION>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Build:
      - 16d854443d
      X-Rack-Responsetime:
      - '82'
      X-Uid:
      - 938a6d43
    body:
      encoding: ASCII-8BIT
      string: '{"MetaInformation":{"@TotalResources":2,"@TotalPages":1,"@CurrentPage":1},"Orders":[{"@url":"https:\/\/api.fortnox.se\/3\/orders\/3","Cancelled":true,"Currency":"SEK","CustomerName":"Test
        customer","CustomerNumber":"2","DeliveryDate":"2023-01-27","DocumentNumber":"3","ExternalInvoiceReference1":"","ExternalInvoiceReference2":"","OrderDate":"2023-01-27","OrderType":"Order","Project":"","Sent":false,"Total":0},{"@url":"https:\/\/api.fortnox.se\/3\/orders\/4","Cancelled":true,"Currency":"SEK","CustomerName":"Test
        customer","CustomerNumber":"2","DeliveryDate":"2023-01-27","DocumentNumber":"4","ExternalInvoiceReference1":"","ExternalInvoiceReference2":"","OrderDate":"2023-01-27","OrderType":"Order","Project":"","Sent":false,"Total":0}]}'
  recorded_at: Mon, 30 Jan 2023 10:32:33 GMT
recorded_with: VCR 6.1.0
