---
http_interactions:
- request:
    method: get
    uri: https://api.fortnox.se/3/orders/51
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - "<AUTHORIZATION>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Build:
      - 1fbde2b71a
      X-Krakend:
      - Version 2.13.3
      X-Krakend-Completed:
      - 'false'
      X-Rack-Responsetime:
      - '237'
      X-Uid:
      - 634cdbb6
    body:
      encoding: UTF-8
      string: '{"Order":{"@url":"https:\/\/api.fortnox.se\/3\/orders\/51","@urlTaxReductionList":"https:\/\/api.fortnox.se\/3\/taxreductions?filter=orders&referencenumber=51","Address1":"","Address2":"","AdministrationFee":0,"AdministrationFeeVAT":0,"BasisTaxReduction":0,"Cancelled":false,"City":"","Comments":"A
        value","ContributionPercent":0,"ContributionValue":0,"CopyRemarks":false,"CostCenter":"","Country":"","Currency":"SEK","CurrencyRate":1,"CurrencyUnit":1,"CustomerName":"Customer
        with IDN email","CustomerNumber":"1","DeliveryAddress1":"","DeliveryAddress2":"","DeliveryCity":"","DeliveryCountry":"","DeliveryDate":null,"DeliveryName":"","DeliveryState":"delivery","DeliveryZipCode":"","DocumentNumber":"51","EmailInformation":{"EmailAddressFrom":null,"EmailAddressTo":"user@test.se","EmailAddressCC":null,"EmailAddressBCC":null,"EmailSubject":"Order
        {no} bifogas","EmailBody":" "},"ExternalInvoiceReference1":"","ExternalInvoiceReference2":"","Freight":0,"FreightVAT":0,"Gross":0,"HouseWork":false,"InvoiceReference":"0","Labels":[],"Language":"SV","Net":0,"NotCompleted":false,"OfferReference":"0","OrderDate":"2026-04-29","OrderRows":[],"OrderType":"Order","OrganisationNumber":"","OurReference":"","OutboundDate":"2026-04-29","Phone1":"","Phone2":"","PriceList":"A","PrintTemplate":"oc","Project":"","Remarks":"","RoundOff":0,"Sent":false,"StockPointCode":null,"StockPointId":null,"TaxReduction":null,"TaxReductionType":"none","TermsOfDelivery":"","TermsOfPayment":"30","TimeBasisReference":null,"Total":0,"TotalToPay":0,"TotalVAT":0,"VATIncluded":false,"WarehouseReady":true,"WayOfDelivery":"","YourOrderNumber":"","YourReference":"","ZipCode":""}}'
  recorded_at: Wed, 29 Apr 2026 09:11:58 GMT
recorded_with: VCR 6.4.0
