---
http_interactions:
- request:
    method: post
    uri: https://api.fortnox.se/3/orders/
    body:
      encoding: UTF-8
      string: '{"Order":{"CustomerNumber":"1","TaxReductionType":"rut","OrderRows":[{"ArticleNumber":"101","HouseWork":true,"HouseWorkType":"GARDENING","OrderedQuantity":1.0}]}}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - "<AUTHORIZATION>"
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json
      Location:
      - orders
      X-Build:
      - 380d444b08
      X-Rack-Responsetime:
      - '245'
      X-Uid:
      - 545bceb8
    body:
      encoding: UTF-8
      string: '{"Order":{"@url":"https:\/\/api.fortnox.se\/3\/orders\/13","@urlTaxReductionList":"https:\/\/api.fortnox.se\/3\/taxreductions?filter=orders&referencenumber=13","AdministrationFee":0,"AdministrationFeeVAT":0,"Address1":"","Address2":"","BasisTaxReduction":0,"Cancelled":false,"City":"","Comments":"","ContributionPercent":0,"ContributionValue":0,"CopyRemarks":false,"Country":"","CostCenter":"","Currency":"SEK","CurrencyRate":1,"CurrencyUnit":1,"CustomerName":"Updated
        name","CustomerNumber":"1","DeliveryState":"delivery","DeliveryAddress1":"","DeliveryAddress2":"","DeliveryCity":"","DeliveryCountry":"","DeliveryDate":null,"DeliveryName":"","DeliveryZipCode":"","DocumentNumber":"13","EmailInformation":{"EmailAddressFrom":null,"EmailAddressTo":"","EmailAddressCC":null,"EmailAddressBCC":null,"EmailSubject":"Order
        {no} bifogas","EmailBody":" "},"ExternalInvoiceReference1":"","ExternalInvoiceReference2":"","Freight":0,"FreightVAT":0,"Gross":0,"HouseWork":false,"InvoiceReference":0,"Labels":[],"Language":"SV","Net":0,"NotCompleted":false,"OfferReference":0,"OrderDate":"2022-06-02","OrderRows":[{"AccountNumber":3004,"ArticleNumber":"101","ContributionPercent":0,"ContributionValue":0,"CostCenter":"","DeliveredQuantity":"0.00","Description":"Hammer","Discount":0,"DiscountType":"PERCENT","HouseWork":true,"HouseWorkHoursToReport":null,"HouseWorkType":"GARDENING","OrderedQuantity":"1.00","Price":0,"Project":"","ReservedQuantity":"0.00","RowId":15,"StockPointCode":null,"StockPointId":null,"Total":0,"Unit":"","VAT":0}],"OrderType":"Order","OrganisationNumber":"","OurReference":"","Phone1":"","Phone2":"","PriceList":"A","PrintTemplate":"oc","Project":"","WarehouseReady":true,"OutboundDate":"2022-06-02","Remarks":"","RoundOff":0,"Sent":false,"TaxReduction":null,"TermsOfDelivery":"","TermsOfPayment":"30","TimeBasisReference":null,"Total":0,"TotalToPay":0,"TotalVAT":0,"VATIncluded":false,"WayOfDelivery":"","YourReference":"","YourOrderNumber":"","ZipCode":"","StockPointCode":null,"StockPointId":null,"TaxReductionType":"rut"}}'
  recorded_at: Thu, 02 Jun 2022 18:50:47 GMT
recorded_with: VCR 4.0.0
