---
http_interactions:
- request:
    method: post
    uri: https://api.fortnox.se/3/orders
    body:
      encoding: UTF-8
      string: '{"Order":{"CustomerNumber":"1","Labels":[],"TaxReductionType":"rot","OrderRows":[{"ArticleNumber":"101","HouseWork":true,"HouseWorkType":"GROUNDDRAINAGEWORK","OrderedQuantity":1.0}]}}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - "<AUTHORIZATION>"
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json
      Location:
      - orders
      X-Build:
      - d19605fe96
      X-Krakend:
      - Version 2.13.3
      X-Krakend-Completed:
      - 'false'
      X-Rack-Responsetime:
      - '608'
      X-Uid:
      - 75296a2c
    body:
      encoding: UTF-8
      string: '{"Order":{"@url":"https:\/\/api.fortnox.se\/3\/orders\/63","@urlTaxReductionList":"https:\/\/api.fortnox.se\/3\/taxreductions?filter=orders&referencenumber=63","Address1":"","Address2":"","AdministrationFee":0,"AdministrationFeeVAT":0,"BasisTaxReduction":0,"Cancelled":false,"City":"","Comments":"","ContributionPercent":0,"ContributionValue":0,"CopyRemarks":false,"CostCenter":"","Country":"","Currency":"SEK","CurrencyRate":1,"CurrencyUnit":1,"CustomerName":"Customer
        with IDN email","CustomerNumber":"1","DeliveryAddress1":"","DeliveryAddress2":"","DeliveryCity":"","DeliveryCountry":"","DeliveryDate":null,"DeliveryName":"","DeliveryState":"reservation","DeliveryZipCode":"","DocumentNumber":"63","EmailInformation":{"EmailAddressFrom":null,"EmailAddressTo":"user@test.se","EmailAddressCC":null,"EmailAddressBCC":null,"EmailSubject":"Order
        {no} bifogas","EmailBody":" "},"ExternalInvoiceReference1":"","ExternalInvoiceReference2":"","Freight":0,"FreightVAT":0,"Gross":0,"HouseWork":false,"InvoiceReference":"0","Labels":[],"Language":"SV","Net":0,"NotCompleted":false,"OfferReference":"0","OrderDate":"2026-08-04","OrderRows":[{"AccountNumber":3001,"ArticleNumber":"101","ContributionPercent":"0","ContributionValue":"0","Cost":0,"CostCenter":"","DeliveredQuantity":"0","Description":"Hammer","Discount":0,"DiscountType":"PERCENT","HouseWork":true,"HouseWorkHoursToReport":null,"HouseWorkType":"GROUNDDRAINAGEWORK","OrderedQuantity":"1","Price":0,"Project":"","ReservedQuantity":"0","RowId":128,"StockPointCode":null,"StockPointId":null,"Total":0,"Unit":"","VAT":25,"VATCode":"MP1"}],"OrderType":"Order","OrganisationNumber":"","OurReference":"","OutboundDate":"2026-08-04","Phone1":"","Phone2":"","PriceList":"A","PrintTemplate":"oc","Project":"","Remarks":"","RoundOff":0,"Sent":false,"StockPointCode":null,"StockPointId":null,"TaxReduction":null,"TaxReductionType":"rot","TermsOfDelivery":"","TermsOfPayment":"30","TimeBasisReference":null,"Total":0,"TotalToPay":0,"TotalVAT":0,"VATIncluded":false,"WarehouseReady":false,"WayOfDelivery":"","YourOrderNumber":"","YourReference":"","ZipCode":""}}'
  recorded_at: Tue, 04 Aug 2026 07:55:00 GMT
recorded_with: VCR 6.4.0
