---
http_interactions:
- request:
    method: post
    uri: https://api.fortnox.se/3/orders/
    body:
      encoding: UTF-8
      string: '{"Order":{"CustomerNumber":"1","OrderRows":[{"ArticleNumber":"0000","HouseWorkType":"COOKING","OrderedQuantity":1.0}]}}'
    headers:
      Content-Type:
      - application/json
      Client-Secret:
      - 9aBA8ZgsvR
      Access-Token:
      - ccaef817-d5d8-4b1c-a316-54f3e55c5c54
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json
      X-Rack-Responsetime:
      - '38'
      X-Uid:
      - 16a251f6
      X-Build:
      - 76600b8d0c
    body:
      encoding: UTF-8
      string: '{"ErrorInformation":{"error":1,"message":"Skattereduktion f\u00f6r
        en av de valda husarbetestyperna har upph\u00f6rt.","code":2003151}}'
  recorded_at: Mon, 17 Oct 2016 14:38:11 GMT
recorded_with: VCR 3.0.1
