---
http_interactions:
- request:
    method: post
    uri: https://api.fortnox.se/3/orders/
    body:
      encoding: UTF-8
      string: '{"Order":{"CustomerNumber":"1","TaxReductionType":"rut","OrderRows":[{"ArticleNumber":"0000","HouseWork":true,"HouseWorkType":"CONSTRUCTION","OrderedQuantity":1.0}]}}'
    headers:
      Content-Type:
      - application/json
      Client-Secret:
      - 9aBA8ZgsvR
      Access-Token:
      - ccaef817-d5d8-4b1c-a316-54f3e55c5c54
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json
      X-Build:
      - 9dd4e26746
      X-Rack-Responsetime:
      - '93'
      X-Uid:
      - 60fee13e
    body:
      encoding: UTF-8
      string: '{"ErrorInformation":{"error":1,"message":"Dokument med skattereduktionstypen
        ''rut'' f\u00e5r inte inneh\u00e5lla rader med husarbetestypen ''CONSTRUCTION''.","code":2004021}}'
  recorded_at: Mon, 22 Jan 2024 15:16:42 GMT
recorded_with: VCR 6.2.0
