---
http_interactions:
- request:
    method: post
    uri: https://api.fortnox.se/3/orders
    body:
      encoding: UTF-8
      string: '{"Order":{"CustomerNumber":"1","Labels":[],"TaxReductionType":"rot","OrderRows":[{"ArticleNumber":"101","HouseWork":true,"HouseWorkType":"OTHERCOSTS","OrderedQuantity":1.0}]}}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - "<AUTHORIZATION>"
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json
      X-Build:
      - d19605fe96
      X-Krakend:
      - Version 2.13.3
      X-Krakend-Completed:
      - 'false'
      X-Rack-Responsetime:
      - '328'
      X-Uid:
      - 9190ac88
    body:
      encoding: UTF-8
      string: '{"ErrorInformation":{"error":1,"message":"Kan inte s\u00e4tta typen
        \u00f6vrig kostnad p\u00e5 en rad markerad som husarbete.","code":2002980}}'
  recorded_at: Tue, 04 Aug 2026 07:55:12 GMT
recorded_with: VCR 6.4.0
