---
http_interactions:
- request:
    method: post
    uri: https://api.fortnox.se/3/orders
    body:
      encoding: UTF-8
      string: '{"Order":{"Country":"","CustomerNumber":"1","DeliveryCountry":"","Labels":[],"TaxReductionType":"rot","OrderRows":[{"ArticleNumber":"101","HouseWork":true,"HouseWorkType":"OTHERCOSTS","OrderedQuantity":1.0}]}}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - "<AUTHORIZATION>"
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json
      X-Build:
      - 58ce5df7dc
      X-Krakend:
      - Version 2.13.3
      X-Krakend-Completed:
      - 'false'
      X-Rack-Responsetime:
      - '278'
      X-Uid:
      - d0eb81e1
    body:
      encoding: UTF-8
      string: '{"ErrorInformation":{"error":1,"message":"Kan inte s\u00e4tta typen
        \u00f6vrig kostnad p\u00e5 en rad markerad som husarbete.","code":2002980}}'
  recorded_at: Fri, 24 Apr 2026 12:59:53 GMT
recorded_with: VCR 6.4.0
