---
http_interactions:
- request:
    method: post
    uri: https://api.fortnox.se/3/orders/
    body:
      encoding: UTF-8
      string: '{"Order":{"CustomerNumber":"1","OrderRows":[{"ArticleNumber":"0000","HouseWorkType":"TUTORING","OrderedQuantity":1.0}]}}'
    headers:
      Content-Type:
      - application/json
      Client-Secret:
      - 9aBA8ZgsvR
      Access-Token:
      - ccaef817-d5d8-4b1c-a316-54f3e55c5c54
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json
      X-Rack-Responsetime:
      - '291'
      X-Uid:
      - 66f15c22
      X-Build:
      - bec4a33b2e
    body:
      encoding: UTF-8
      string: '{"ErrorInformation":{"error":1,"message":"Skattereduktion f\u00f6r
        den valda typen av husarbete har upph\u00f6rt.","code":2003157}}'
  recorded_at: Thu, 01 Mar 2018 13:58:13 GMT
recorded_with: VCR 3.0.3
