---
http_interactions:
- request:
    method: post
    uri: https://api.fortnox.se/3/orders/
    body:
      encoding: UTF-8
      string: '{"Order":{"CustomerNumber":"1","OrderRows":[{"ArticleNumber":"0000","HouseWorkType":"TEXTILECLOTHING","OrderedQuantity":1.0}]}}'
    headers:
      Content-Type:
      - application/json
      Client-Secret:
      - 9aBA8ZgsvR
      Access-Token:
      - ccaef817-d5d8-4b1c-a316-54f3e55c5c54
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json
      X-Rack-Responsetime:
      - '78'
      X-Uid:
      - f2609fa2
      X-Build:
      - d59e2acefa
    body:
      encoding: UTF-8
      string: '{"ErrorInformation":{"error":1,"message":"Dokument utan angiven skattereduktionstyp
        f\u00e5r inte inneh\u00e5lla artikelrader med husarbetestyp.","code":2004019}}'
  recorded_at: Mon, 21 Dec 2020 20:42:12 GMT
recorded_with: VCR 4.0.0
