---
http_interactions:
- request:
    method: post
    uri: https://api.fortnox.se/3/orders/
    body:
      encoding: UTF-8
      string: '{"Order":{"CustomerNumber":"1","TaxReductionType":"rut","OrderRows":[{"ArticleNumber":"101","HouseWork":true,"HouseWorkType":"CONSTRUCTION","OrderedQuantity":1.0}]}}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - "<AUTHORIZATION>"
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json
      X-Build:
      - 380d444b08
      X-Rack-Responsetime:
      - '182'
      X-Uid:
      - eb98d2de
    body:
      encoding: UTF-8
      string: '{"ErrorInformation":{"error":1,"message":"Dokument med skattereduktionstypen
        ''rut'' f\u00e5r inte inneh\u00e5lla rader med husarbetestypen ''CONSTRUCTION''.","code":2004021}}'
  recorded_at: Thu, 02 Jun 2022 18:50:51 GMT
recorded_with: VCR 4.0.0
