---
http_interactions:
- request:
    method: post
    uri: https://api.fortnox.se/3/orders/
    body:
      encoding: UTF-8
      string: '{"Order":{"CustomerNumber":"1","OrderRows":[{"ArticleNumber":"0000","HouseWorkType":"COOKING","OrderedQuantity":1.0}]}}'
    headers:
      Content-Type:
      - application/json
      Client-Secret:
      - 9aBA8ZgsvR
      Access-Token:
      - ccaef817-d5d8-4b1c-a316-54f3e55c5c54
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json
      X-Rack-Responsetime:
      - '31'
      X-Uid:
      - b9165cef
      X-Build:
      - e930a91c78
    body:
      encoding: UTF-8
      string: '{"ErrorInformation":{"error":1,"message":"Skattereduktion f\u00f6r
        den valda typen av husarbete har upph\u00f6rt.","code":2003157}}'
  recorded_at: Wed, 29 May 2019 07:52:41 GMT
recorded_with: VCR 4.0.0
