---
http_interactions:
- request:
    method: post
    uri: https://api.fortnox.se/3/orders/
    body:
      encoding: UTF-8
      string: '{"Order":{"CustomerNumber":"1","TaxReductionType":"rot","OrderRows":[{"ArticleNumber":"101","HouseWork":true,"HouseWorkType":"OTHERCOSTS","OrderedQuantity":1.0}]}}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - "<AUTHORIZATION>"
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json
      X-Build:
      - 380d444b08
      X-Rack-Responsetime:
      - '370'
      X-Uid:
      - 36503a72
    body:
      encoding: UTF-8
      string: '{"ErrorInformation":{"error":1,"message":"Kan inte s\u00e4tta typen
        \u00f6vrig kostnad p\u00e5 en rad markerad som husarbete.","code":2002980}}'
  recorded_at: Thu, 02 Jun 2022 18:50:49 GMT
recorded_with: VCR 4.0.0
