---
http_interactions:
- request:
    method: post
    uri: https://api.fortnox.se/3/orders/
    body:
      encoding: UTF-8
      string: '{"Order":{"CustomerNumber":"1","TaxReductionType":"rot","OrderRows":[{"ArticleNumber":"0000","HouseWork":true,"HouseWorkType":"OTHERCOSTS","OrderedQuantity":1.0}]}}'
    headers:
      Content-Type:
      - application/json
      Client-Secret:
      - 9aBA8ZgsvR
      Access-Token:
      - ccaef817-d5d8-4b1c-a316-54f3e55c5c54
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json
      X-Rack-Responsetime:
      - '797'
      X-Uid:
      - 2f2310b7
      X-Build:
      - d59e2acefa
    body:
      encoding: UTF-8
      string: '{"ErrorInformation":{"error":1,"message":"Kan inte s\u00e4tta typen
        \u00f6vrig kostnad p\u00e5 en rad markerad som husarbete.","code":2002980}}'
  recorded_at: Tue, 22 Dec 2020 09:32:36 GMT
recorded_with: VCR 4.0.0
