---
http_interactions:
- request:
    method: post
    uri: https://api.fortnox.se/3/orders/
    body:
      encoding: UTF-8
      string: '{"Order":{"Comments":"A great comment about something","CustomerNumber":"1","OrderRows":[{"account_number":null,"article_number":null,"contribution_percent":null,"contribution_value":null,"cost_center":null,"delivered_quantity":null,"description":null,"discount":null,"discount_type":null,"house_work":null,"house_work_hours_to_report":null,"house_work_type":null,"price":100.0,"project":null,"total":null,"unit":null,"vat":null,"order_quantity":1.0},{"account_number":null,"article_number":null,"contribution_percent":null,"contribution_value":null,"cost_center":null,"delivered_quantity":null,"description":null,"discount":null,"discount_type":null,"house_work":null,"house_work_hours_to_report":null,"house_work_type":null,"price":101.5,"project":null,"total":null,"unit":null,"vat":null,"order_quantity":2.5}]}}'
    headers:
      Content-Type:
      - application/json
      Client-Secret:
      - 9aBA8ZgsvR
      Access-Token:
      - ccaef817-d5d8-4b1c-a316-54f3e55c5c54
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json
      X-Rack-Responsetime:
      - '28'
      X-Uid:
      - 97e00456
      X-Build:
      - e12c70ab36
    body:
      encoding: UTF-8
      string: '{"ErrorInformation":{"error":1,"message":"Felaktigt f\u00e4ltnamn (account_number)","code":2001399}}'
  recorded_at: Fri, 07 Oct 2016 13:42:52 GMT
recorded_with: VCR 3.0.1
