---
http_interactions:
- request:
    method: put
    uri: https://api.fortnox.se/3/orders/8
    body:
      encoding: UTF-8
      string: '{"Order":{"AdministrationFee":0.0,"Address1":"","Address2":"","City":"","Comments":"Updated
        comments","Country":"","CostCenter":"","Currency":"SEK","CurrencyRate":1.0,"CurrencyUnit":1.0,"CustomerName":"Old
        name","CustomerNumber":"1","DeliveryAddress1":"","DeliveryAddress2":"","DeliveryCity":"","DeliveryCountry":"","DeliveryName":"","DeliveryZipCode":"","EmailInformation":"#<Fortnox::API::Model::EmailInformation:0x007fbbb2128408>","ExternalInvoiceReference1":"","ExternalInvoiceReference2":"","Freight":0.0,"NotCompleted":false,"OurReference":"","Phone1":"","Phone2":"","PriceList":"A","PrintTemplate":"oc","Project":"","Remarks":"","TermsOfDelivery":"","TermsOfPayment":"0","VATIncluded":false,"WayOfDelivery":"","YourOrderNumber":"","YourReference":"","ZipCode":"","CopyRemarks":false,"OrderDate":"2016-04-21","OrderRows":[]}}'
    headers:
      Content-Type:
      - application/json
      Client-Secret:
      - 9aBA8ZgsvR
      Access-Token:
      - ccaef817-d5d8-4b1c-a316-54f3e55c5c54
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Rack-Responsetime:
      - '363'
      X-Uid:
      - 816d05c1
      X-Build:
      - 1cc1a0cd58
    body:
      encoding: UTF-8
      string: '{"Order":{"@url":"https:\/\/api.fortnox.se\/3\/orders\/8","@urlTaxReductionList":"https:\/\/api.fortnox.se\/3\/taxreductions?filter=orders&referencenumber=8","AdministrationFee":0,"AdministrationFeeVAT":0,"Address1":"","Address2":"","BasisTaxReduction":0,"Cancelled":false,"City":"","Comments":"Updated
        comments","ContributionPercent":0,"ContributionValue":0,"CopyRemarks":false,"Country":"","CostCenter":"","Currency":"SEK","CurrencyRate":1,"CurrencyUnit":1,"CustomerName":"Old
        name","CustomerNumber":"1","DeliveryAddress1":"","DeliveryAddress2":"","DeliveryCity":"","DeliveryCountry":"","DeliveryDate":null,"DeliveryName":"","DeliveryZipCode":"","DocumentNumber":"8","EmailInformation":{"EmailAddressFrom":null,"EmailAddressTo":"","EmailAddressCC":null,"EmailAddressBCC":null,"EmailSubject":"Order
        {no} bifogas","EmailBody":" "},"ExternalInvoiceReference1":"","ExternalInvoiceReference2":"","Freight":0,"FreightVAT":0,"Gross":0,"HouseWork":false,"InvoiceReference":"0","Labels":[],"Language":"SV","Net":0,"NotCompleted":false,"OfferReference":"0","OrderDate":"2016-04-21","OrderRows":[],"OrganisationNumber":"","OurReference":"","Phone1":"","Phone2":"","PriceList":"A","PrintTemplate":"oc","Project":"","Remarks":"","RoundOff":0,"Sent":false,"TaxReduction":null,"TermsOfDelivery":"","TermsOfPayment":"0","Total":0,"TotalToPay":0,"TotalVAT":0,"VATIncluded":false,"WayOfDelivery":"","YourReference":"","YourOrderNumber":"","ZipCode":""}}'
  recorded_at: Thu, 21 Apr 2016 09:32:08 GMT
recorded_with: VCR 3.0.1
