---
http_interactions:
- request:
    method: post
    uri: https://api.fortnox.se/3/orders/
    body:
      encoding: UTF-8
      string: '{"Order":{"Comments":"A value","CustomerNumber":"1"}}'
    headers:
      Content-Type:
      - application/json
      Authorization-Code:
      - ea3862b0-189c-464b-8e23-1b9702365ea1
      Client-Secret:
      - 9aBA8ZgsvR
      Access-Token:
      - ccaef817-d5d8-4b1c-a316-54f3e55c5c54
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json
      X-Rack-Responsetime:
      - '49'
      X-Uid:
      - f17b2c05
      X-Build:
      - 76600b8d0c
    body:
      encoding: UTF-8
      string: '{"ErrorInformation":{"error":1,"message":"Internal error","code":1000029}}'
  recorded_at: Thu, 13 Oct 2016 19:19:05 GMT
recorded_with: VCR 3.0.1
