---
http_interactions:
- request:
    method: post
    uri: https://api.fortnox.se/3/orders/
    body:
      encoding: UTF-8
      string: '{"Order":{"Comments":"A great comment about something","CustomerNumber":"1","OrderRows":[{"ArticleNumber":"1","Price":100.0,"VAT":6},{"ArticleNumber":"1","Price":101.5,"VAT":0}]}}'
    headers:
      Content-Type:
      - application/json
      Client-Secret:
      - 9aBA8ZgsvR
      Access-Token:
      - ccaef817-d5d8-4b1c-a316-54f3e55c5c54
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json
      Location:
      - orders
      X-Rack-Responsetime:
      - '300'
      X-Uid:
      - fb20b585
      X-Build:
      - 42c598a932
    body:
      encoding: UTF-8
      string: '{"Order":{"@url":"https:\/\/api.fortnox.se\/3\/orders\/18","@urlTaxReductionList":"https:\/\/api.fortnox.se\/3\/taxreductions?filter=orders&referencenumber=18","AdministrationFee":0,"AdministrationFeeVAT":0,"Address1":"","Address2":"","BasisTaxReduction":0,"Cancelled":false,"City":"","Comments":"A
        great comment about something","ContributionPercent":0,"ContributionValue":0,"CopyRemarks":false,"Country":"","CostCenter":"","Currency":"SEK","CurrencyRate":1,"CurrencyUnit":1,"CustomerName":"Old
        name","CustomerNumber":"1","DeliveryAddress1":"","DeliveryAddress2":"","DeliveryCity":"","DeliveryCountry":"","DeliveryDate":null,"DeliveryName":"","DeliveryZipCode":"","DocumentNumber":"18","EmailInformation":{"EmailAddressFrom":null,"EmailAddressTo":"","EmailAddressCC":null,"EmailAddressBCC":null,"EmailSubject":"Order
        {no} bifogas","EmailBody":" "},"ExternalInvoiceReference1":"","ExternalInvoiceReference2":"","Freight":0,"FreightVAT":0,"Gross":0,"HouseWork":false,"InvoiceReference":0,"Labels":[],"Language":"SV","Net":0,"NotCompleted":false,"OfferReference":0,"OrderDate":"2016-04-26","OrderRows":[{"AccountNumber":1030,"ArticleNumber":"1","ContributionPercent":0,"ContributionValue":0,"CostCenter":"","DeliveredQuantity":"0.00","Description":"Testartikel","Discount":0,"DiscountType":"PERCENT","HouseWork":false,"HouseWorkHoursToReport":null,"HouseWorkType":null,"OrderedQuantity":"0.00","Price":100,"Project":"","Total":0,"Unit":"","VAT":6},{"AccountNumber":1030,"ArticleNumber":"1","ContributionPercent":0,"ContributionValue":0,"CostCenter":"","DeliveredQuantity":"0.00","Description":"Testartikel","Discount":0,"DiscountType":"PERCENT","HouseWork":false,"HouseWorkHoursToReport":null,"HouseWorkType":null,"OrderedQuantity":"0.00","Price":101.5,"Project":"","Total":0,"Unit":"","VAT":0}],"OrganisationNumber":"","OurReference":"","Phone1":"","Phone2":"","PriceList":"A","PrintTemplate":"oc","Project":"","Remarks":"","RoundOff":0,"Sent":false,"TaxReduction":null,"TermsOfDelivery":"","TermsOfPayment":0,"Total":0,"TotalToPay":0,"TotalVAT":0,"VATIncluded":false,"WayOfDelivery":"","YourReference":"","YourOrderNumber":"","ZipCode":""}}'
  recorded_at: Tue, 26 Apr 2016 16:05:48 GMT
recorded_with: VCR 3.0.1
