---
http_interactions:
- request:
    method: post
    uri: https://api.fortnox.se/3/orders/
    body:
      encoding: UTF-8
      string: '{"Order":{"Comments":"A great comment about something","CustomerNumber":"1","OrderRows":[{"price":100.0},{"price":101.5}]}}'
    headers:
      Content-Type:
      - application/json
      Client-Secret:
      - 9aBA8ZgsvR
      Access-Token:
      - ccaef817-d5d8-4b1c-a316-54f3e55c5c54
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json
      X-Rack-Responsetime:
      - '378'
      X-Uid:
      - 66cbb84a
      X-Build:
      - 42c598a932
    body:
      encoding: UTF-8
      string: '{"ErrorInformation":{"error":1,"message":"Felaktigt f\u00e4ltnamn (price)","code":2001399}}'
  recorded_at: Tue, 26 Apr 2016 09:03:59 GMT
recorded_with: VCR 3.0.1
