---
http_interactions:
- request:
    method: get
    uri: https://api.fortnox.se/3/orders/?customername=A%20customer
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Client-Secret:
      - 9aBA8ZgsvR
      Access-Token:
      - ccaef817-d5d8-4b1c-a316-54f3e55c5c54
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Rack-Responsetime:
      - '38'
      X-Uid:
      - 3348ce32
      X-Build:
      - 76600b8d0c
    body:
      encoding: UTF-8
      string: '{"MetaInformation":{"@TotalResources":2,"@TotalPages":1,"@CurrentPage":1},"Orders":[{"@url":"https:\/\/api.fortnox.se\/3\/orders\/4","Cancelled":false,"Currency":"SEK","CustomerName":"A
        customer","CustomerNumber":"26","DeliveryDate":null,"DocumentNumber":"4","ExternalInvoiceReference1":"","ExternalInvoiceReference2":"","OrderDate":"2016-04-21","Project":"1","Sent":false,"Total":0},{"@url":"https:\/\/api.fortnox.se\/3\/orders\/60","Cancelled":false,"Currency":"SEK","CustomerName":"A
        customer","CustomerNumber":"2","DeliveryDate":null,"DocumentNumber":"60","ExternalInvoiceReference1":"","ExternalInvoiceReference2":"","OrderDate":"2016-05-09","Project":"1","Sent":false,"Total":19}]}'
  recorded_at: Mon, 17 Oct 2016 10:21:08 GMT
recorded_with: VCR 3.0.1
