---
http_interactions:
- request:
    method: get
    uri: https://api.fortnox.se/3/orders/?customername=A%20customer
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Client-Secret:
      - 9aBA8ZgsvR
      Access-Token:
      - ccaef817-d5d8-4b1c-a316-54f3e55c5c54
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Rack-Responsetime:
      - '33'
      X-Uid:
      - 7defa0ff
      X-Build:
      - d59e2acefa
    body:
      encoding: ASCII-8BIT
      string: '{"MetaInformation":{"@TotalResources":3,"@TotalPages":1,"@CurrentPage":1},"Orders":[{"@url":"https:\/\/api.fortnox.se\/3\/orders\/4","Cancelled":false,"Currency":"SEK","CustomerName":"A
        customer","CustomerNumber":"26","DeliveryDate":null,"DocumentNumber":"4","ExternalInvoiceReference1":"","ExternalInvoiceReference2":"","OrderDate":"2016-04-21","OrderType":"Order","Project":"1","Sent":false,"Total":0},{"@url":"https:\/\/api.fortnox.se\/3\/orders\/60","Cancelled":false,"Currency":"SEK","CustomerName":"A
        customer","CustomerNumber":"2","DeliveryDate":null,"DocumentNumber":"60","ExternalInvoiceReference1":"","ExternalInvoiceReference2":"","OrderDate":"2016-05-09","OrderType":"Order","Project":"1","Sent":false,"Total":19},{"@url":"https:\/\/api.fortnox.se\/3\/orders\/269","Cancelled":false,"Currency":"SEK","CustomerName":"A
        customer","CustomerNumber":"2","DeliveryDate":null,"DocumentNumber":"269","ExternalInvoiceReference1":"","ExternalInvoiceReference2":"","OrderDate":"2018-01-02","OrderType":"Order","Project":"5582","Sent":false,"Total":1250}]}'
  recorded_at: Mon, 21 Dec 2020 20:41:29 GMT
recorded_with: VCR 4.0.0
